<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptsFiles</key>
	<true/>
	<key>AcceptsText</key>
	<false/>
	<key>Creator</key>
	<string>Platypus v4.9</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterArgs</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>PromptForFileOnLaunch</key>
	<false/>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<true/>
	<key>ScriptArgs</key>
	<array/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKIHCFUkbnVsbE8Rg/EjIS9iaW4vc2gKI3NldCAteAojCiNTZXQgZW52IHZhcmlh
	YmxlIExBTkc9cnVfUlUuVVRGLTggZm9yIGNvcnJlY3QgZGlzcGxheSBjeXJpbGxpYyBm
	aWxlIG5hbWVzCiNleHBvcnQgTEFORz1ydV9SVS5VVEYtOAoKI2VjaG8gIlwkezF9PSR7
	MX0iCiNlY2hvICJcJHsyfT0kezJ9IgojZWNobyAiXCR7M309JHszfSIKI2VjaG8gIlwk
	ezR9PSR7NH0iCgpLVUNvbmZpZ1BsaXN0UGF0aD0iLi9LVV9jb25maWcucGxpc3QiCgpX
	b3JrRGlyMT0iL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMiCldvcmtEaXIyPSIvTGli
	cmFyeS9FeHRlbnNpb25zIgpXb3JrRGlyMz0iL0V4dHJhL0V4dGVuc2lvbnMiCgpMZW9D
	YWNoZUZpbGU9Ii9TeXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zLm1rZXh0IgpTbm93TGVv
	Q2FjaGVGaWxlPSIvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNh
	Y2hlcy9TdGFydHVwL0V4dGVuc2lvbnMubWtleHQiCkNhY2hlRmlsZT0iL1N5c3RlbS9M
	aWJyYXJ5L0NhY2hlcy9jb20uYXBwbGUua2V4dC5jYWNoZXMvU3RhcnR1cC9rZXJuZWxj
	YWNoZSIKU2llcnJhQ2FjaGVGaWxlPSIvU3lzdGVtL0xpYnJhcnkvUHJlbGlua2VkS2Vy
	bmVscy9wcmVsaW5rZWRrZXJuZWwiCkFwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9Q
	bGlzdFBhdGg9YGZpbmQgL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMvQXBwbGVLZXh0
	RXhjbHVkZUxpc3Qua2V4dCAtbmFtZSBJbmZvLnBsaXN0YApCb290UGxpc3RQYXRoPSIv
	TGlicmFyeS9QcmVmZXJlbmNlcy9TeXN0ZW1Db25maWd1cmF0aW9uL2NvbS5hcHBsZS5C
	b290LnBsaXN0IgojQm9vdFBsaXN0UGF0aD0iL1VzZXJzL2N2YWQvRGVza3RvcC9jb20u
	YXBwbGUuQm9vdC5wbGlzdCIKU3lzdGVtQ2FjaGVGaWxlPSIiClN5c3RlbU5hbWU9IiIK
	CmtleHRfbXNkb3Nmcz0xCmtleHRfQXBwbGVLZXh0RXhjbHVkZUxpc3Q9MQoKS2Vybk9T
	UmVsZWFzZT1gc3lzY3RsIC1uIGtlcm4ub3NyZWxlYXNlIHwgY3V0IC1kICIuIiAtZjFg
	CgpIb21lRGlyPX4KVGltZU91dD0xMCAjIHRpbWVvdXQgKGRlZmF1bHQgNjAgc2VjKSBv
	ZiB0aGUgcmVwYWlyIG9wZXJhdGlvbgoKIyMjIFJlbGVhc2UtVHlwZSBWYXJpYWJsZXMg
	IyMjCgojUFJPR1JBTT0kKGJhc2VuYW1lICIkMSIpClZlcnNpb249IjIuNi42IgpDcmVh
	dG9yPSJjVmFkIgpSZWxlYXNlZD0iMjAwOC0yMDE2IgoKbWVtb01TRygpIHsKCiMgUHJv
	Z3JhbW0gYXR0cmlidXRlcwpjYXQgPDwgRU9GCiAgICAgICAgICAgICAgICAgICAgICAg
	ICAgICAgICAgIC0tIEtleHQgVXRpbGl0eSAtLQogICAgICAgICAgICAgICAgICAgICAg
	ICAgICAgICB2JFZlcnNpb24gwqkgJENyZWF0b3IgJFJlbGVhc2VkCiAgICAgICAgICAg
	ICAgICAgICAgICAgICAgICAgICAgIE1hYyBPUyBYIDEwLjUtMTAuMTIKICAgICAgICAg
	ICAgICAgICAgICAgICAgIG1hY09TICJTaWVycmEiIFN1cGVyIFNwZWVkIEVkaXRpb24K
	ICAgICAgICAgICAgICAgICAgICAgIFN1cGVyIEZhc3QgUmVwYWlyIGFsbCBLZXh0cyBw
	ZXJtaXNzaW9ucwogICAgICAgICAgICAgICAgICAgICAgICAgIEFkZC9SZW1vdmUgVXNl
	ZnVsbCBCb290IE9wdGlvbnMKICAgICAgICAgICAgICAgICAgICAgICAgICAgT1NLZXh0
	U2lnRXhjZXB0aW9uTGlzdCBVcGRhdGVyCiAgICAgICAgICAgICAgICAgICAgICAgICAg
	ICAgICAvUy9ML0UgS2V4dHMgSW5zdGFsbGVyCiAgICAgICAgICAgICAgICAgICAgICAg
	ICAgICAgICAgTWtleHQgUGFja2VyL1VuUGFja2VyCiAgICAgICAgICAgICAgICAgICAg
	ICAgICAgICAgICAgICBjdmFkLW1hYy5uYXJvZC5ydQogICAgICAgICAgICAgICAgICAg
	ICAgICAgICAgICAgICAgICBhcHBsZWxpZmUucnUKCkVPRgp9CgpTeXN0ZW1TcGVjTVNH
	KCkgewojc2V0ICt4CiNCbG9jayBzaG93IHN5c3RlbSBzcGVjaWZpY2F0aW9ucwpLRVJO
	X1ZlcnNpb249YGVjaG8gJChzeXNjdGwgLW4ga2Vybi52ZXJzaW9uIHwgY3V0IC1kICI7
	IiAtZjEpYApNYWNoaW5lSGFyZHdhcmVOYW1lPWB1bmFtZSAtbWAKCk1PREVMX0lEPWBz
	eXNjdGwgLW4gaHcubW9kZWxgCgpQcm9kdWN0TmFtZT1gc3dfdmVycyB8Z3JlcCBQcm9k
	dWN0TmFtZWAKUHJvZHVjdFZlcnNpb249YGVjaG8gJChzd192ZXJzIHxncmVwIFByb2R1
	Y3RWZXJzaW9uKWAKQnVpbGRWZXJzaW9uPWBlY2hvICQoc3dfdmVycyB8Z3JlcCBCdWls
	ZFZlcnNpb24pYAoKVXNlcj0kVVNFUgpLRVJOX0hvc3RuYW1lPWBzeXNjdGwgLW4ga2Vy
	bi5ob3N0bmFtZWAKS0VSTl9Cb290YXJncz1gc3lzY3RsIC1uIGtlcm4uYm9vdGFyZ3Ng
	CgpDUFVfVFlQRT0iYHN5c2N0bCAtbiBtYWNoZGVwLmNwdS5icmFuZF9zdHJpbmcgfCBz
	ZWQgJ3MvICAqLyAvZydgIgpDUFVfRkVBVFVSRVM9ImBzeXNjdGwgLW4gbWFjaGRlcC5j
	cHUuZmVhdHVyZXNgIGBzeXNjdGwgLW4gbWFjaGRlcC5jcHUuZXh0ZmVhdHVyZXNgIGBz
	eXNjdGwgLW4gbWFjaGRlcC5jcHUubGVhZjdfZmVhdHVyZXNgIgpDUFVDb3Jlcz0iYHN5
	c2N0bCAtbiBody5waHlzaWNhbGNwdWAiCkNQVVRocmVhZHM9ImBzeXNjdGwgLW4gaHcu
	bG9naWNhbGNwdWAiCnRlbXA9ImBzeXNjdGwgLW4gaHcuY3B1ZnJlcXVlbmN5X21heGAi
	CmlmIFsgJHt0ZW1wfSBdCgl0aGVuCgkJQ1BVRnJlcXVlbmN5X01BWD0kKCgke3RlbXB9
	LzEwMDAwMDApKQoJZWxzZQoJCUNQVUZyZXF1ZW5jeV9NQVg9MApmaQp0ZW1wPSJgc3lz
	Y3RsIC1uIGh3LmNwdWZyZXF1ZW5jeV9taW5gIgppZiBbICR7dGVtcH0gXQoJdGhlbgoJ
	CUNQVUZyZXF1ZW5jeV9NSU49JCgoJHt0ZW1wfS8xMDAwMDAwKSkKCWVsc2UKCQlDUFVG
	cmVxdWVuY3lfTUlOPTAKZmkKdGVtcD0iYHN5c2N0bCAtbiBody5jcHVmcmVxdWVuY3lg
	IgppZiBbICR7dGVtcH0gXQoJdGhlbgoJCUNQVUZyZXF1ZW5jeT0kKCgke3RlbXB9LzEw
	MDAwMDApKQoJZWxzZQoJCUNQVUZyZXF1ZW5jeT0wCmZpCnRlbXA9ImBzeXNjdGwgLW4g
	aHcuYnVzZnJlcXVlbmN5YCIKaWYgWyAke3RlbXB9IF0KCXRoZW4KCQlCVVNGcmVxdWVu
	Y3lGU0I9JCgoJHt0ZW1wfS8xMDAwMDAwKSkKCQlCVVNGcmVxdWVuY3k9JCgoJEJVU0Zy
	ZXF1ZW5jeUZTQi80KSkKCWVsc2UKCQlCVVNGcmVxdWVuY3lGU0I9MAoJCUJVU0ZyZXF1
	ZW5jeT0wCmZpCnRlbXA9ImBzeXNjdGwgLW4gaHcubDFpY2FjaGVzaXplYCIKaWYgWyAk
	e3RlbXB9IF0KCXRoZW4KCQlDYWNoZV9MMWk9JCgoJHt0ZW1wfS8xMDI0KSkKCWVsc2UK
	CQlDYWNoZV9MMWk9MApmaQp0ZW1wPSJgc3lzY3RsIC1uIGh3LmwxZGNhY2hlc2l6ZWAi
	CmlmIFsgJHt0ZW1wfSBdCgl0aGVuCgkJQ2FjaGVfTDFkPSQoKCR7dGVtcH0vMTAyNCkp
	CgllbHNlCgkJQ2FjaGVfTDFkPTAKZmkKdGVtcD0iYHN5c2N0bCAtbiBody5sMmNhY2hl
	c2l6ZWAiCmlmIFsgJHt0ZW1wfSBdCgl0aGVuCgkJQ2FjaGVfTDI9JCgoJHt0ZW1wfS8x
	MDI0KSkKCWVsc2UKCQlDYWNoZV9MMj0wCmZpCnRlbXA9ImBzeXNjdGwgLW4gaHcubDNj
	YWNoZXNpemVgIgppZiBbICR7dGVtcH0gXQoJdGhlbgoJCUNhY2hlX0wzPSQoKCR7dGVt
	cH0vMTAyNCkpCgllbHNlCgkJQ2FjaGVfTDM9MApmaQpDUFVTaWduYXR1cmU9ImBzeXNj
	dGwgLW4gbWFjaGRlcC5jcHUuc2lnbmF0dXJlYCIKQ1BVU2lnbmF0dXJlSGV4PSQoZWNo
	byAib2Jhc2U9MTY7ICRDUFVTaWduYXR1cmUiIHwgYmMpCgp0ZW1wPSJgc3lzY3RsIC1u
	IGh3Lm1lbXNpemVgIgppZiBbICR7dGVtcH0gXQoJdGhlbgoJCU1FTVNJWkU9JCgoJHt0
	ZW1wfS8xMDQ4NTc2KSkKCWVsc2UKCQlNRU1TSVpFPTAKZmkKU3dhcFVzYWdlPSJgc3lz
	Y3RsIC1uIHZtLnN3YXB1c2FnZWAiCkhpYmVybmF0ZU1vZGU9ImBzeXNjdGwgLW4ga2Vy
	bi5oaWJlcm5hdGVtb2RlYCIKCiNCb290YXJncyAgICAgOiAke0tFUk5fQm9vdGFyZ3N9
	ICMgc2NyaXB0IG5vdCB3b3JrIGluIDEwLjggd2l0aCBub24gdXRmOCBhcmdzCgpjYXQg
	PDwgRU9GClByb2R1Y3ROYW1lICA6IE1hYyBPUyBYICRQcm9kdWN0VmVyc2lvbiAkQnVp
	bGRWZXJzaW9uCkJvb3RhcmdzICAgICA6ICRLRVJOX0Jvb3RhcmdzCktlcm5lbCAgICAg
	ICA6ICRLRVJOX1ZlcnNpb24KTW9kZWwgSUQgICAgIDogJE1PREVMX0lEIEtlcm5lbE1v
	ZGU6ICRNYWNoaW5lSGFyZHdhcmVOYW1lCkNQVSBUWVBFICAgICA6ICR7Q1BVX1RZUEV9
	CkNQVSBJRCAgICAgICA6IE94JENQVVNpZ25hdHVyZUhleCAoJENQVVNpZ25hdHVyZSkg
	CkNvcmVzICAgICAgICA6ICR7Q1BVQ29yZXN9IENvcmVzLCAke0NQVVRocmVhZHN9IFRo
	cmVhZHMgQCAke0NQVUZyZXF1ZW5jeV9NQVh9TUh6IEJ1czogJHtCVVNGcmVxdWVuY3l9
	TUh6IEZTQjogJHtCVVNGcmVxdWVuY3lGU0J9TUh6CkNhY2hlcyAgICAgICA6IEwxaTok
	e0NhY2hlX0wxaX1LYiBMMWQ6JHtDYWNoZV9MMWR9S2IgTDI6JHtDYWNoZV9MMn1LYiBM
	Mzoke0NhY2hlX0wzfUtiCkNQVSBGZWF0dXJlcyA6ICR7Q1BVX0ZFQVRVUkVTfQpSQU0g
	ICAgICAgICAgOiAke01FTVNJWkV9TWIgSGliZXJuYXRlTW9kZTogJEhpYmVybmF0ZU1v
	ZGUKU3dhcFVzYWdlICAgIDogJFN3YXBVc2FnZQpVc2VyICAgICAgICAgOiAkVVNFUiBv
	biAkS0VSTl9Ib3N0bmFtZQoKRU9GCn0KClN0YXJ0TVNHKCkgewoKIyAgICAgICBMZW9w
	YXJkICAgICAgICAtICA5LAojICAgICAgIFNub3cgIExlb3BhcmQgIC0gMTAsCiMgICAg
	ICAgTGlvbiAgICAgICAgICAgLSAxMQojICAgICAgIE1vdW50YWluIExpb24gIC0gMTIK
	IyAgICAgICBNYXZlcmlja3MgICAgICAtIDEzCiMgICAgICAgWW9zZW1pdGUgICAgICAg
	LSAxNAojICAgICAgIEVsIENhcGl0YW4gICAgIC0gMTUKCmNhc2UgIiR7S2Vybk9TUmVs
	ZWFzZX0iIGluCiAgICBbMC04XSkKCQllY2hvICJEZXRlY3RlZCAuLi4gdW5zdXBwb3J0
	ZWQgTUFDIE9TIFggc3lzdGVtLiIKICAgICAgICAgICAgICAgIFN5c3RlbU5hbWU9InVu
	c3VwcG9ydGVkIE1BQyBPUyBYIHN5c3RlbSIKICAgICAgICA7OwogICAgOSkKCQllY2hv
	ICJEZXRlY3RlZCAgLi4uICBNQUMgT1MgWCBcIkxlb3BhcmRcIi4iCiAgICAgICAgICAg
	ICAgICBTeXN0ZW1DYWNoZUZpbGU9IiR7TGVvQ2FjaGVGaWxlfSIKICAgICAgICAgICAg
	ICAgIFN5c3RlbU5hbWU9Ik1BQyBPUyBYIFwiTGVvcGFyZFwiIgogICAgICAgIDs7CiAg
	ICAxMCkKCQllY2hvICJEZXRlY3RlZCAgLi4uICBNQUMgT1MgWCBcIlNub3cgTGVvcGFy
	ZFwiLiIKICAgICAgICAgICAgICAgIFN5c3RlbUNhY2hlRmlsZT0iJHtTbm93TGVvQ2Fj
	aGVGaWxlfSIKICAgICAgICAgICAgICAgIFN5c3RlbU5hbWU9Ik1BQyBPUyBYIFwiU25v
	dyBMZW9wYXJkXCIiCiAgICAgICAgOzsKICAgIDExKQoJCWVjaG8gIkRldGVjdGVkICAu
	Li4gIE1BQyBPUyBYIFwiTGlvblwiLiIKICAgICAgICAgICAgICAgIFN5c3RlbUNhY2hl
	RmlsZT0iJHtDYWNoZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0iTUFD
	IE9TIFggXCJMaW9uXCIiCiAgICAgICAgOzsKICAgIDEyKQoJCWVjaG8gIkRldGVjdGVk
	ICAuLi4gIE1BQyBPUyBYIFwiTW91bnRhaW4gTGlvblwiLiIKICAgICAgICAgICAgICAg
	IFN5c3RlbUNhY2hlRmlsZT0iJHtDYWNoZUZpbGV9IgogICAgICAgICAgICAgICAgU3lz
	dGVtTmFtZT0iTUFDIE9TIFggXCJNb3VudGFpbiBMaW9uXCIiCiAgICAgICAgOzsKICAg
	IDEzKQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwiTWF2ZXJpY2tzXCIu
	IgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke0NhY2hlRmlsZX0iCiAg
	ICAgICAgICAgICAgICBTeXN0ZW1OYW1lPSJNQUMgT1MgWCBcIk1hdmVyaWNrc1wiIgog
	ICAgICAgIDs7CiAgICAxNCkKCQllY2hvICJEZXRlY3RlZCAgLi4uICBNQUMgT1MgWCBc
	Illvc2VtaXRlXCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke0Nh
	Y2hlRmlsZX0iCiAgICAgICAgICAgICAgICBTeXN0ZW1OYW1lPSJNQUMgT1MgWCBcIllv
	c2VtaXRlXCIiCiAgICAgICAgOzsKICAgIDE1KQoJCWVjaG8gIkRldGVjdGVkICAuLi4g
	IE1BQyBPUyBYIFwiRWwgQ2FwaXRhblwiLiIKICAgICAgICAgICAgICAgIFN5c3RlbUNh
	Y2hlRmlsZT0iJHtDYWNoZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0i
	TUFDIE9TIFggXCJFbCBDYXBpdGFuXCIiCiAgICAgICAgOzsKICAgIDE2KQoJCWVjaG8g
	IkRldGVjdGVkICAuLi4gIG1hY09TIFwiU2llcnJhXCIuIgogICAgICAgICAgICAgICAg
	U3lzdGVtQ2FjaGVGaWxlPSIke1NpZXJyYUNhY2hlRmlsZX0iCiAgICAgICAgICAgICAg
	ICBTeXN0ZW1OYW1lPSJtYWNPUyBcIlNpZXJyYVwiIgogICAgICAgIDs7CgkqKQoJCWVj
	aG8gIkRldGVjdGVkICAuLi4gICQoc3lzY3RsIC1uIGtlcm4udmVyc2lvbiB8IGN1dCAt
	ZCAiOiIgLWYxKS4iCiAgICAgICAgICAgICAgICBTeXN0ZW1DYWNoZUZpbGU9IiR7U2ll
	cnJhQ2FjaGVGaWxlfSIKICAgICAgICAgICAgICAgIFN5c3RlbU5hbWU9YGVjaG8gJChz
	eXNjdGwgLW4ga2Vybi52ZXJzaW9uIHwgY3V0IC1kICI6IiAtZjEpYAogICAgICAgIDs7
	CmVzYWMKCmVjaG8KZWNobyAiU3RhcnQgd29ya2luZzogJChkYXRlICIrJVktJW0tJWQg
	JUg6JU06JVMgJXoiKSIKZWNobwoKfQoKRXJyTVNHKCkgewkKCgltZW1vTVNHCgl1c2Fn
	ZQp9Cgp1c2FnZSgpIHsKCSMgVXNhZ2UgZm9ybWF0CmNhdCA8PEVPRgogICAgIFVzYWdl
	OiAKCiAgICAgMS4gVG8gaW5zdGFsbCB0aGUgZHJpdmVycyBEcm9wIGFsbCB0aGUgZHJp
	dmVyIGZpbGVzIHdpdGggdmFsaWQgZXh0ZW5zaW9uCiAgICAgCSgqLmtleHQsICoucGx1
	Z2luLCAqLmJ1bmRsZSwgKi5wcHApIG9uIHRoZSBhcHAgaWNvbi4KICAgICAgICBJdCB3
	aWxsIGJlIGluc3RhbGxlZCB0byAiL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMvIiBm
	b2xkZXIuCiAgICAgMi4gVG8gUmVwYWlyIHRoZSBrZXh0IHBlcm1pc3Npb25zIGZvciBh
	bGwgc3lzdGVtIGZvbGRlcnMsIGp1c3QKICAgICAJcnVuIHRoZSBhcHAuCiAgICAgMy4g
	VG8gUmVwYWlyJlBhY2sgYSBmb2xkZXIgd2l0aCBrZXh0IGZpbGVzIGluIHRoZSBta2V4
	dCBjYWNoZSBmaWxlLAogICAgICAgIGRyb3AgdGhpcyBmb2xkZXIgb24gdGhlIGFwcCBp
	Y29uLgogICAgICAgIkV4dGVuc2lvbnMubWtleHQiIGZpbGUgd2lsbCBiZSBwbGFjZWQg
	bmVhciAiRXh0ZW5zaW9ucyIgZm9sZGVyLgogICAgIDQuIFRvIFVuUGFjayB0aGUgbWtl
	eHQgY2FjaGUgZmlsZSwgZHJvcCB0aGUgbWtleHQgZmlsZSBvbiB0aGUgYXBwIGljb24u
	CiAgICAgICAgRm9sZGVyIHdpdGggeW91ciBleHRyYWN0ZWQgZmlsZXMgd2lsbCBiZSBw
	bGFjZWQgb24gdGhlIERlc2t0b3AuCgogICAgICAgICAgICAgICAgICAgICAgICAgICAg
	ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIEVuam95IC4uLgog
	ICAgCkVPRgp9CgpBZGRCb290QXJnKCkgewpsb2NhbCB2YWw9YC91c3IvbGliZXhlYy9Q
	bGlzdEJ1ZGR5IC1jICJQcmludCA6XCJLZXJuZWwgRmxhZ3NcIiIgIiR7Qm9vdFBsaXN0
	UGF0aH0iYAppZiBbWyAke3ZhbH0gXV0KCXRoZW4KCQl2YWw9JHt2YWx9IiAkezF9IgoJ
	ZWxzZQoJCXZhbD0kezF9CmZpCgppZiBbWyAhIGAvdXNyL2xpYmV4ZWMvUGxpc3RCdWRk
	eSAtYyAiU2V0IDpcIktlcm5lbCBGbGFnc1wiICR7dmFsfSIgIiR7Qm9vdFBsaXN0UGF0
	aH0iYCBdXQoJdGhlbgoJCWVjaG8gIlRoZSBCb290IGFyZzogXCIkezF9XCIgd2FzIGFk
	ZGVkIGluIGNvbS5hcHBsZS5Cb290LnBsaXN0IgoJZWxzZQoJCWVjaG8gIlRoZSBCb290
	IGFyZzogXCIkezF9XCIgZmFpbGVkIHRvIGFkZCBpbiBjb20uYXBwbGUuQm9vdC5wbGlz
	dCIKZmkKZWNobwp9CgpSZW1vdmVCb290QXJnKCkgewpsb2NhbCB2YWw9YC91c3IvbGli
	ZXhlYy9QbGlzdEJ1ZGR5IC1jICJQcmludCA6XCJLZXJuZWwgRmxhZ3NcIiIgIiR7Qm9v
	dFBsaXN0UGF0aH0iYAp2YWw9JHt2YWwvJHsxfS99CmlmIFtbICEgYC91c3IvbGliZXhl
	Yy9QbGlzdEJ1ZGR5IC1jICJTZXQgOlwiS2VybmVsIEZsYWdzXCIgJHt2YWx9IiAiJHtC
	b290UGxpc3RQYXRofSJgIF1dCgl0aGVuCgkJZWNobyAiVGhlIEJvb3QgYXJnOiBcIiR7
	MX1cIiB3YXMgcmVtb3ZlZCBmcm9tIGNvbS5hcHBsZS5Cb290LnBsaXN0IgoJZWxzZQoJ
	CWVjaG8gIlRoZSBCb290IGFyZzogXCIkezF9XCIgZmFpbGVkIHRvIHJlbW92ZSBmcm9t
	IGNvbS5hcHBsZS5Cb290LnBsaXN0IgpmaQplY2hvCn0KCkNoZWNrUGxpc3RLZXlWYWx1
	ZSAoKSB7CiMgJHsxfSA9IERpY3Rpb25hcnk6a2V5ICNFeGFtcGxlOiBQYXRjaEtleHRz
	Om1zZG9zZnMua2V4dCBvciBBZGRCb290QXJnczotdgojICR7Mn0gPSBLVV9jb25maWcu
	cGxpc3QgcGF0aCAjRXhhbXBsZTogLi9LVV9jb25maWcucGxpc3QKCmxvY2FsIGtleV92
	YWx1ZT1gL3Vzci9saWJleGVjL1BsaXN0QnVkZHkgLWMgIlByaW50ICR7MX0iICIkezJ9
	ImAKaWYgW1sgJGtleV92YWx1ZSA9ICJ0cnVlIiBdXQoJdGhlbgoJCWVjaG8gInRydWUi
	CgllbHNlCgkJZWNobyAiZmFsc2UiCmZpCn0KCkNoZWNrQm9vdEFyZygpIHsKbG9jYWwg
	dmFsPWAvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQgOlwiS2VybmVsIEZs
	YWdzXCIiICIke0Jvb3RQbGlzdFBhdGh9ImAKaWYgW1sgISAkKGVjaG8gJHt2YWx9IHwg
	Z3JlcCAtZSAkezF9KSA9ICIiIF1dCiAgI2lmIFtbICEgJCgoL3Vzci9saWJleGVjL1Bs
	aXN0QnVkZHkgLWMgIlByaW50IDpcIktlcm5lbCBGbGFnc1wiIiAiJHtCb290UGxpc3RQ
	YXRofSIgMj4vZGV2L251bGwpIHwgZ3JlcCAtZSAkezF9KSA9ICIiIF1dCiAgCXRoZW4K
	ICAJCWVjaG8gInRydWUiCiAgCWVsc2UKICAJCWVjaG8gImZhbHNlIgpmaQp9CgpTZXRC
	b290QXJnICgpIHsKaWYgW1sgJChDaGVja1BsaXN0S2V5VmFsdWUgIkFkZEJvb3RBcmdz
	OiR7MX0iICIke0tVQ29uZmlnUGxpc3RQYXRofSIpID0gInRydWUiIF1dCgl0aGVuCgkJ
	aWYgW1sgJChDaGVja0Jvb3RBcmcgJHsxfSkgPSAiZmFsc2UiIF1dCgkJCXRoZW4KCQkJ
	CUFkZEJvb3RBcmcgJHsxfQoJCQkjZWxzZQoJCQkjCWVjaG8gIkZvdW5kOiBCb290QXJn
	ICR7MX0iCgkJZmkKCWVsc2UKCQlpZiBbWyAkKENoZWNrQm9vdEFyZyAkezF9KSA9ICJ0
	cnVlIiBdXQoJCQl0aGVuCgkJCQlSZW1vdmVCb290QXJnICR7MX0KCQkJI2Vsc2UKCQkJ
	CSNlY2hvICJOb3QgRm91bmQ6IEJvb3RBcmcgJHsxfSIKCQlmaQpmaQp9CgpDaGVja05W
	UmFtQm9vdEFyZ0V4aXN0KCkgewppZiBbWyAhICQoZWNobyAkezJ9IHwgZ3JlcCAtZSAk
	ezF9KSA9ICIiIF1dCiAgCXRoZW4gZWNobyAidHJ1ZSIKICAJZWxzZSBlY2hvICJmYWxz
	ZSIKZmkKfQoKQWRkTlZSYW1Cb290QXJnKCkgewpsb2NhbCB2YWw9IiR7Mn0iCmlmIFtb
	ICIke3ZhbH0iIF1dCgl0aGVuIHZhbD0iJHt2YWx9IiIgJHsxfSIKCWVsc2UgdmFsPSR7
	MX0KZmkKdmFsPSJib290LWFyZ3M9IiIke3ZhbH0iCmlmIGAvdXNyL3NiaW4vbnZyYW0g
	IiR7dmFsfSJgCgl0aGVuCgkJZWNobyAiVGhlIEJvb3QgYXJnOiBcIiR7MX1cIiB3YXMg
	YWRkZWQgaW4gTlZSYW0iCgkJCgllbHNlCgkJZWNobyAiVGhlIEJvb3QgYXJnOiBcIiR7
	MX1cIiBmYWlsZWQgdG8gYWRkIGluIE5WUmFtIgpmaQplY2hvCn0KClJlbW92ZU5WUmFt
	Qm9vdEFyZygpIHsKbG9jYWwgdmFsPSR7Mn0KdmFsPSQoZWNobyAke3ZhbC8kezF9L30p
	CnZhbD0iYm9vdC1hcmdzPSIke3ZhbH0KaWYgYC91c3Ivc2Jpbi9udnJhbSAiJHt2YWx9
	ImAKCXRoZW4KCQllY2hvICJUaGUgQm9vdCBhcmc6IFwiJHsxfVwiIHdhcyByZW1vdmVk
	IGZyb20gTlZSYW0iCgllbHNlCgkJZWNobyAiVGhlIEJvb3QgYXJnOiBcIiR7MX1cIiBm
	YWlsZWQgdG8gcmVtb3ZlIGZyb20gTlZSYW0iCmZpCmVjaG8KfQoJClNldE5WUmFtQm9v
	dEFyZyAoKSB7CmlmIFtbICQoQ2hlY2tQbGlzdEtleVZhbHVlICJBZGRCb290QXJnczok
	ezF9IiAiJHtLVUNvbmZpZ1BsaXN0UGF0aH0iKSA9ICJ0cnVlIiBdXQoJdGhlbgoJCWlm
	IFtbICQoQ2hlY2tOVlJhbUJvb3RBcmdFeGlzdCAkezF9ICIkezJ9IikgPSAiZmFsc2Ui
	IF1dCgkJCXRoZW4KCQkJCUFkZE5WUmFtQm9vdEFyZyAkezF9ICIkezJ9IgoJCWZpCgll
	bHNlCgkJaWYgW1sgJChDaGVja05WUmFtQm9vdEFyZ0V4aXN0ICR7MX0gIiR7Mn0iKSA9
	ICJ0cnVlIiBdXQoJCQl0aGVuCgkJCQlSZW1vdmVOVlJhbUJvb3RBcmcgJHsxfSAiJHsy
	fSIKCQlmaQpmaQp9CgpOVlJhbUJvb3RBcmdzVmFsdWUoKSB7CmxvY2FsIHZhbD0kKC91
	c3Ivc2Jpbi9udnJhbSAtcCAyPi9kZXYvbnVsbCB8IGdyZXAgLWUgImJvb3QtYXJncyIp
	CmlmIFtbICIke3ZhbH0iICE9ICIiIF1dCiAgCXRoZW4gZWNobyAke3ZhbC9ib290LWFy
	Z3MvfQogIAllbHNlIGVjaG8gIiIKZmkKfQoKQ2hlY2tOVlJhbSgpIHsKbG9jYWwgdmFs
	PSQoTlZSYW1Cb290QXJnc1ZhbHVlKQp2YWw9ImJvb3QtYXJncz0iIiR7dmFsfSIKaWYg
	YC91c3Ivc2Jpbi9udnJhbSAiJHt2YWx9IiAyPi9kZXYvbnVsbGAKCXRoZW4KIyAJCWVj
	aG8gIkNoZWNrTlZSYW06IFRlc3QgV3JpdGUgTlZSYW0gLi4uIE9LIgoJCXJldHVybiAx
	CgllbHNlCgkJZWNobyAiQ2hlY2tOVlJhbTogVGVzdCBXcml0ZSBOVlJhbSAuLi4gRXJy
	b3IiCgkJZWNobwoJCXJldHVybiAwCmZpCn0KCkNoZWNrQ29uZmlnKCkgewppZiBbWyAt
	ZSAiJHtLVUNvbmZpZ1BsaXN0UGF0aH0iIF1dICMgQ2hlY2sgaWYgUGF0Y2hLZXh0IElu
	Zm9QbGlzdCBleGlzdAoJdGhlbgoJCWlmIFtbICQoQ2hlY2tQbGlzdEtleVZhbHVlICJQ
	YXRjaEtleHRzOm1zZG9zZnMua2V4dCIgIiR7S1VDb25maWdQbGlzdFBhdGh9IikgPSAi
	dHJ1ZSIgXV0KCQkJdGhlbgoJCQkJI2VjaG8gIkNoZWNrQ29uZmlnOiBDaGVja1BsaXN0
	S2V5VmFsdWUgUGF0Y2hLZXh0czptc2Rvc2ZzLmtleHQgPSB0cnVlIgoJCQkJaWYgW1sg
	JHtLZXJuT1NSZWxlYXNlfSAtbHQgIjE0IiBdXQoJCQkJCXRoZW4KCQkJCQkJI2VjaG8g
	IkNoZWNrQ29uZmlnOiBrZXh0X21zZG9zZnM9MSIKCQkJCQkJa2V4dF9tc2Rvc2ZzPTEK
	CQkJCQkJUGF0Y2hLZXh0SW5mb1BsaXN0IG1zZG9zZnMua2V4dCBPU0J1bmRsZVJlcXVp
	cmVkIENvbnNvbGUKCQkJCQllbHNlCgkJCQkJCSNlY2hvICJDaGVja0NvbmZpZzoga2V4
	dF9tc2Rvc2ZzPTAiCgkJCQkJCWtleHRfbXNkb3Nmcz0wCgkJCQlmaQoJCQllbHNlCgkJ
	CQkjZWNobyAiQ2hlY2tDb25maWc6IENoZWNrUGxpc3RLZXlWYWx1ZSBQYXRjaEtleHRz
	Om1zZG9zZnMua2V4dCA9IGZhbHNlIgoJCQkJa2V4dF9tc2Rvc2ZzPTAKCQkJCSNlY2hv
	ICJDaGVja0NvbmZpZzoga2V4dF9tc2Rvc2ZzPTAiCgkJZmkKCgkJaWYgW1sgJChDaGVj
	a1BsaXN0S2V5VmFsdWUgIlBhdGNoS2V4dHM6QXBwbGVLZXh0RXhjbHVkZUxpc3Qua2V4
	dCIgIiR7S1VDb25maWdQbGlzdFBhdGh9IikgPSAidHJ1ZSIgXV0KCQkJdGhlbgoJCQkJ
	I2VjaG8gIkNoZWNrQ29uZmlnOiBDaGVja1BsaXN0S2V5VmFsdWUgUGF0Y2hLZXh0czpB
	cHBsZUtleHRFeGNsdWRlTGlzdC5rZXh0ID0gdHJ1ZSIKCQkJCWlmIFtbICR7S2Vybk9T
	UmVsZWFzZX0gLWx0ICIxNCIgXV0KCQkJCQl0aGVuCgkJCQkJCSNlY2hvICJDaGVja0Nv
	bmZpZzoga2V4dF9BcHBsZUtleHRFeGNsdWRlTGlzdD0xIgoJCQkJCQlrZXh0X0FwcGxl
	S2V4dEV4Y2x1ZGVMaXN0PTEKCQkJCQllbHNlCgkJCQkJCWtleHRfQXBwbGVLZXh0RXhj
	bHVkZUxpc3Q9MAoJCQkJCQkjZWNobyAiQ2hlY2tDb25maWc6IGtleHRfQXBwbGVLZXh0
	RXhjbHVkZUxpc3Q9MCIKCQkJCWZpCgkJCWVsc2UKCQkJCSNlY2hvICJDaGVja0NvbmZp
	ZzogQ2hlY2tQbGlzdEtleVZhbHVlIFBhdGNoS2V4dHM6QXBwbGVLZXh0RXhjbHVkZUxp
	c3Qua2V4dCA9IGZhbHNlIgoJCQkJa2V4dF9BcHBsZUtleHRFeGNsdWRlTGlzdD0wCgkJ
	CQkjZWNobyAiQ2hlY2tDb25maWc6IGtleHRfQXBwbGVLZXh0RXhjbHVkZUxpc3Q9MCIK
	CQlmaQoKCQlDaGVja05WUmFtCgkJaWYgW1sgJD8gPSAxIF1dCgkJCXRoZW4KCQkJCVNl
	dE5WUmFtQm9vdEFyZyAiLXYiICIkKE5WUmFtQm9vdEFyZ3NWYWx1ZSkiCgkJCQlpZiBb
	WyAke0tlcm5PU1JlbGVhc2V9IC1lcSAiMTQiIF1dCgkJCQkJdGhlbgoJCQkJCQlTZXRO
	VlJhbUJvb3RBcmcgImtleHQtZGV2LW1vZGU9MSIgIiQoTlZSYW1Cb290QXJnc1ZhbHVl
	KSIKCQkJCWZpCgkJCQkjaWYgW1sgJHtLZXJuT1NSZWxlYXNlfSAtZ2UgIjE1IiBdXQoJ
	CQkJIwl0aGVuCgkJCQkjCQlTZXROVlJhbUJvb3RBcmcgInJvb3RsZXNzPTAiICIkKE5W
	UmFtQm9vdEFyZ3NWYWx1ZSkiCgkJCQkjZmkKCQlmaQoKCQlTZXRCb290QXJnICItdiIK
	CQkKCQlpZiBbWyAke0tlcm5PU1JlbGVhc2V9IC1lcSAiMTQiIF1dCgkJCXRoZW4KCQkJ
	CSNlY2hvICJDaGVja0NvbmZpZzogU2V0Qm9vdEFyZyBrZXh0LWRldi1tb2RlPTEiCgkJ
	CQlTZXRCb290QXJnICJrZXh0LWRldi1tb2RlPTEiCgkJZmkKCQkKCQkjaWYgW1sgJHtL
	ZXJuT1NSZWxlYXNlfSAtZ2UgIjE1IiBdXQoJCSMJdGhlbgoJCSMJCSNlY2hvICJDaGVj
	a0NvbmZpZzogU2V0Qm9vdEFyZyByb290bGVzcz0wIgoJCSMJCVNldEJvb3RBcmcgInJv
	b3RsZXNzPTAiCgkJI2ZpCmZpCn0KClNldFBlcm1pc3Npb25zTW9kKCkKeyAKI3NldCAr
	eAojIFN0YW5kYXJ0IGNvbW1hbmRzOgojIHN1ZG8gY2hvd24gLVIgcm9vdDp3aGVlbCAv
	U3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucy9Tb21lLmtleHQKIyBzdWRvIGNobW9kIC1S
	IDc1NSAvU3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucy9Tb21lLmtleHQKCUNvdW50Rmls
	ZXM9MAoJQ291bnRLZXh0PTAKCSNDb3VudFBwcD0wCgkjQ291bnRQbHVnaW49MAoJI0Nv
	dW50QnVuZGxlPTAKCSNDb3VudFBsaXN0PTAKCSNDb3VudEJpbj0wCglBbGxDb2RlRmls
	ZXM9MAoKSW5EaXI9JDEKcHJpbnRmICJSZXBhaXJpbmcgUGVybWlzc2lvbnMgZm9yIFwi
	JHtJbkRpcn1cIiAuLi4iCgpPbGRJRlM9JElGUyAgICMgc2F2ZSBvbGQgJElGUwpJRlM9
	JCdcbicgICAgICMgbmV3ICRJRlMgIAoKc3RhcnR0aW1lPWBkYXRlICslc2AKCiAgICBm
	b3IgZmlsZXMgaW4gJChmaW5kICIke0luRGlyfSIpCgkgICAgZG8KCSAgICAgICAgY2Fz
	ZSAiJHtmaWxlc30iIGluCgkJCQkqLmtleHR8Ki5wcHB8Ki5wbHVnaW58Ki5idW5kbGUp
	ICBsZXQgIkNvdW50S2V4dCs9MSI7ICBjaG1vZCA3NTUgIiR7ZmlsZXN9Ijs7CgkJCQkq
	Q29kZURpcmVjdG9yeXwqQ29kZVJlcXVpcmVtZW50c3wqQ29kZVJlc291cmNlc3wqQ29k
	ZVNpZ25hdHVyZXwqLnBsaXN0fCouc3RyaW5nc3wqUGtnSW5mb3wqLmRmdXwqLnpsaWJ8
	Ki5wZGZ8KkxJQ0VOU0V8Ki5pY25zfCoudGlmfCoudGlmZikKCQkJCWlmIFtbIC1mICIk
	e2ZpbGVzfSIgXV0gCiMgICAJCQkJSWYgZmlsZXMgKG5vdCBsaW5rKSBjaG1vZCA2NDQK
	CQkJCQl0aGVuIAoJCQkJCQljaG1vZCA2NDQgIiR7ZmlsZXN9IgojICAgCQkJCUlmIGZp
	bGVzIGlzIGxpbmsgY2htb2QgLWggNzU1CiAgICAgICAgICAgICAgICAgICAgZWxzZQoJ
	CQkJCQljaG1vZCAtaCA3NTUgIiR7ZmlsZXN9IgoJCQkJZmkKCQkJCWxldCAiQWxsQ29k
	ZUZpbGVzKz0xIgoJCQkJOzsKCgkJCQkqKQoJCSAgICAgICAgY2htb2QgLWggNzU1ICIk
	e2ZpbGVzfSIgOzsKCgkJCWVzYWMKCgkJCWNob3duIC1oIHJvb3Q6d2hlZWwgIiR7Zmls
	ZXN9IgoKCSAgICAgICAgbGV0ICJDb3VudEZpbGVzKz0xIgoJCiAgICAgICAgICAgIGlm
	IFsgJCgoQ291bnRGaWxlcy80MDAqNDAwKSkgLWVxICR7Q291bnRGaWxlc30gXSAjIGNv
	dW50IHZlcnkgcXVpY2tseQoJCQkJdGhlbgoJCQkJCSBwcmludGYgIi4iCgkJCWZpCgog
	ICAgCWRvbmUKCmZpbmlzaHRpbWU9YGRhdGUgKyVzYAoKSUZTPSRPbGRJRlMgICAjIHJl
	dHVybiBvbGQgJElGUwoKcHJpbnRmICIgRG9uZS5cbiIKCiMgZWNobwojZWNobyAiLS0g
	VG90YWwgcHJvY2Vzc2VkOiAke0NvdW50RmlsZXN9IGZpbGVzICgke0NvdW50S2V4dH0g
	a2V4dHMpIGZvciAkKCgkZmluaXNodGltZS0kc3RhcnR0aW1lKSkgc2VjLiIKZWNobyAi
	LS0gVG90YWwgcHJvY2Vzc2VkOiAke0NvdW50RmlsZXN9IGZpbGVzIGZvciAkKCgkZmlu
	aXNodGltZS0kc3RhcnR0aW1lKSkgc2VjLiIKCmVjaG8KCn0KClN5c3RlbUNhY2hlVXBk
	YXRlKCkgewoKI2VjaG8gIlN5c3RlbUNhY2hlVXBkYXRlKCkgLSAke1N5c3RlbUNhY2hl
	RmlsZX0iCiNlY2hvICJTeXN0ZW1DYWNoZVVwZGF0ZSgpIERldGVjdGVkICAuLi4gICR7
	U3lzdGVtTmFtZX0iCgpsZXQgImNvdW50PTAiCiNlY2hvICJjb3VudD0ke2NvdW50fSIK
	I2VjaG8gIlRpbWVPdXQ9JHtUaW1lT3V0fSIKCnByaW50ZiAiVXBkYXRpbmcgdGhlIHN5
	c3RlbSBjYWNoZSBmaWxlcyAuIgogICAgICAgIApybSAtUmYgL1N5c3RlbS9MaWJyYXJ5
	L0NhY2hlcy9jb20uYXBwbGUuYm9vdHN0YW1wcy8qIDI+L2Rldi9udWxsCnJtIC1SZiAv
	U3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXJuZWxjYWNoZXMvKiAyPi9k
	ZXYvbnVsbApybSAtUmYgL1N5c3RlbS9MaWJyYXJ5L0NhY2hlcy9jb20uYXBwbGUua2V4
	dC5jYWNoZXMvRGlyZWN0b3JpZXMvTGlicmFyeS9FeHRlbnNpb25zLyogMj4vZGV2L251
	bGwKcm0gLVJmIC9TeXN0ZW0vTGlicmFyeS9DYWNoZXMvY29tLmFwcGxlLmtleHQuY2Fj
	aGVzL0RpcmVjdG9yaWVzL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMvKiAyPi9kZXYv
	bnVsbApybSAtUmYgL1N5c3RlbS9MaWJyYXJ5L0NhY2hlcy9jb20uYXBwbGUua2V4dC5j
	YWNoZXMvU3RhcnR1cC8qIDI+L2Rldi9udWxsCnJtIC1SZiAvU3lzdGVtL0xpYnJhcnkv
	RXh0ZW5zaW9ucy9DYWNoZXMvKiAyPi9kZXYvbnVsbApybSAtZiAiJHtTeXN0ZW1DYWNo
	ZUZpbGV9IiAyPi9kZXYvbnVsbAogICAgICAgIAojIGZvciBMSU9OCiN0b3VjaCAiJHtX
	b3JrRGlyMX0iCiNraWxsYWxsIC1IVVAga2V4dGQmCiNrZXh0Y2FjaGUgLXN5c3RlbS1j
	YWNoZXMmCiNrZXh0Y2FjaGUgLXVwZGF0ZS12b2x1bWUgLyAtZm9yY2UmCiNlY2hvICJX
	b3JrRGlyMSAtICR7V29ya0RpcjF9IgojZWNobyAiV29ya0RpcjIgLSAke1dvcmtEaXIy
	fSIKCnRvdWNoICIke1dvcmtEaXIxfSIKdG91Y2ggIiR7V29ya0RpcjJ9Igoja2lsbGFs
	bCAtSFVQIGtleHRkJgoKIyBrZXh0Y2FjaGUgY3JlYXRlcyBzZXZlcmFsIGtpbmRzIG9m
	IGtleHQgY2FjaGVzLiAgVGhlIGZpcnN0IGlzIHRoZSBwcmVsaW5rZWQga2VybmVsIChh
	bHNvIGtub3duIGFzIGEgYGBrZXJuZWxjYWNoZScnKSwKIyB3aGljaCBjb250YWlucyB0
	aGUga2VybmVsIGNvZGUgYW5kIHRoZSBlc3NlbnRpYWwgZmlsZXMgKGluZm8gZGljdGlv
	bmFyeSBhbmQgZXhlY3V0YWJsZSkgZm9yIGFuIGFyYml0cmFyeSBzZXQgb2Yga2V4dHMs
	CiMgd2l0aCBrZXh0IGV4ZWN1dGFibGVzIGxpbmtlZCBmb3IgdGhlaXIgcnVuLXRpbWUg
	bG9jYXRpb25zLiBBIHByZWxpbmtlZCBrZXJuZWwgc3BlZWRzIGVhcmx5IHN5c3RlbSBz
	dGFydHVwIGJ5IGNvbGxlY3RpbmcKIyB0aGVzZSBtYW55IGZpbGVzIGluIG9uZSBwbGFj
	ZSBmb3IgdGhlIGJvb3RlciB0byBsb2NhdGUsIGFuZCBieSBoYXZpbmcgZWFjaCBrZXh0
	IGxpbmtlZCBpbiBwbGFjZSBhbmQgcmVhZHkgdG8gc3RhcnQgYXMKIyBuZWVkZWQuICBU
	byBjcmVhdGUgb3IgdXBkYXRlIGEgcHJlbGlua2VkIGtlcm5lbCwgdXNlIHRoZSAtcHJl
	bGlua2VkLWtlcm5lbCBvciAtc3lzdGVtLXByZWxpbmtlZC1rZXJuZWwgb3B0aW9uLgoK
	IyBPdGhlciBrZXh0IGNhY2hlcyBjb2xsZWN0IHNwZWNpZmljIGRhdGEgZnJvbSB0aGUg
	aW5mbyBkaWN0aW9uYXJpZXMgb2Yga2V4dHMuIFRoZXJlIGFyZSBtYW55IGluZGl2aWR1
	YWwgY2FjaGVzIGZvcgojIHNwZWNpZmljIHN1YnNldHMgb2YgZGF0YTsgdGhleSBjYXJl
	IGNvbGxlY3RpdmVseSBjYWxsZWQgc3lzdGVtIGluZm8gY2FjaGVzLiBUaGVzZSBjYWNo
	ZXMgYXJlIHVzZWQgdG8gb3B0aW1pemUgZGlzayBJL08KIyB3aGVuIHdvcmtpbmcgd2l0
	aCBrZXh0cyBkdXJpbmcgbGF0ZSBzeXN0ZW0gc3RhcnR1cCBhbmQgYmV5b25kLiBUbyB1
	cGRhdGUgdGhlIHN5c3RlbSBrZXh0IGluZm8gY2FjaGVzIGZvciB0aGUgcm9vdCB2b2x1
	bWUsCiMgdXNlIHRoZSAtc3lzdGVtLWNhY2hlcyBvcHRpb24KCiMgVGhlIGxhc3QgdHlw
	ZSBvZiBrZXh0IGNhY2hlIGlzIHRoZSBta2V4dCBjYWNoZSwgd2hpY2ggY29udGFpbnMg
	dGhlIGVzc2VudGlhbCBmaWxlcyAoaW5mbyBkaWN0aW9uYXJ5IGFuZCBleGVjdXRhYmxl
	KSBmb3IKIyBhbiBhcmJpdHJhcnkgc2V0IG9mIGtleHRzOyBleGVjdXRhYmxlcyBhcmUg
	dW5yZWxvY2F0ZWQuIE1rZXh0IGlzIGEgbGVnYWN5IGZvcm1hdCB0aGF0IHdhcyB1c2Vk
	IG9uIHByaW9yIHJlbGVhc2VzIG9mCiMgTWFjIE9TIFguIFRvIGNyZWF0ZSBhbiBta2V4
	dCBjYWNoZSwgdXNlIG9uZSBvZiB0aGUgLW1rZXh0LCAtbWtleHQxLCBvciAtbWtleHQy
	IG9wdGlvbnMsIHdpdGggYXBwcm9wcmlhdGUgZmlsdGVyaW5nCiMgb3B0aW9ucywgZGVz
	Y3JpYmVkIGJlbG93LgoKIyAtbCwgLWxvY2FsLXJvb3QKIyBTcGVjaWZpZXMgdGhhdCBm
	b3IgZGlyZWN0b3J5IGFyZ3VtZW50cywgb25seSBleHRlbnNpb25zIHJlcXVpcmVkIGZv
	ciBsb2NhbCBkaXNrIGJvb3QgYmUgaW5jbHVkZWQgaW4gYSBjYWNoZS4KIyBLZXh0cyBl
	eHBsaWNpdGx5IGluZGljYXRlZCBieSBuYW1lIG9yIGlkZW50aWZpZXIgYXJlIGluY2x1
	ZGVkIHVuY29uZGl0aW9uYWxseTsgdG8gYXBwbHkgdGhpcyBmaWx0ZXIgdG8gYWxsIGtl
	eHRzLAojIHVzZSB0aGUgLWxvY2FsLXJvb3QtYWxsIG9wdGlvbi4gLUwsIC1sb2NhbC1y
	b290LWFsbAojIFNwZWNpZmllcyB0aGF0IG9ubHkgZXh0ZW5zaW9ucyByZXF1aXJlZCBm
	b3IgbG9jYWwgZGlzayBib290IGJlIGluY2x1ZGVkIGluIGEgY2FjaGUsIHJlZ2FyZGxl
	c3Mgb2Ygd2hldGhlciB0aGV5IGFyZQojIGZyb20gYSByZXBvc2l0b3J5IGRpcmVjdG9y
	eSBvciBhcmUgZXhwbGljaXRseSBpbmRpY2F0ZWQgYnkgbmFtZSBvciBpZGVudGlmaWVy
	LiAgVG8gYXBwbHkgdGhpcyByZXN0cmljdGlvbiBvbmx5IHRvIGtleHRzCiMgZnJvbSBy
	ZXBvc2l0b3J5IGRpcmVjdG9yaWVzLCB1c2UgdGhlIC1sb2NhbC1yb290IG9wdGlvbi4K
	CmtleHRjYWNoZSAtc3lzdGVtLWNhY2hlcyAtbG9jYWwtcm9vdC1hbGwmICMgZm9yIG1h
	a2luZyAzMiY2NGJpdCBpbmZvIGRpY3Rpb25hcmllcyBrZXh0IGNhY2hlcwoja2V4dGNh
	Y2hlIC11cGRhdGUtdm9sdW1lIC8gLWZvcmNlJgoKIyAtZSwgLXN5c3RlbS1ta2V4dAoj
	IFRoaXMgb3B0aW9uIGlzIHByb3ZpZGVkIGZvciBsZWdhY3kgY29tcGF0aWJpbGl0eSwg
	YW5kIGlzIHNpbXBseSBhbiBhbGlhcyB0byAtc3lzdGVtLXByZWxpbmtlZC1rZXJuZWwu
	CiAgICAgICAgIAoja2V4dGNhY2hlIC1zeXN0ZW0tbWtleHQgLWxvY2FsLXJvb3QmCgoj
	a2V4dGNhY2hlIC1zeXN0ZW0tcHJlbGlua2VkLWtlcm5lbCYKCndoaWxlIHNsZWVwIDEK
	CWRvCgkJaWYgWyAtZiAiJHtTeXN0ZW1DYWNoZUZpbGV9IiBdCgkJCXRoZW4KCQkJCXBy
	aW50ZiAiIERvbmVcbiIKCQkJCWlmIFtbICIke1N5c3RlbUNhY2hlRmlsZSMjKi59IiA9
	ICJta2V4dCIgXV0KCQkJCQl0aGVuCgkJCQkJCWVjaG8KCQkJCQkJcHJpbnRmICJVcGRh
	dGluZyB0aGUgc3lzdGVtIGNhY2hlIGZpbGVzIGZvciBDbG92ZXIgLiIKCQkJCQkJa2V4
	dGNhY2hlIC1zeXN0ZW0tcHJlbGlua2VkLWtlcm5lbCYKCQkJCQkJd2hpbGUgc2xlZXAg
	MQoJCQkJCQkJZG8KCQkJCQkJCQlpZiBbIC1mICIke1N5c3RlbUNhY2hlRmlsZSUvKn0i
	L2tlcm5lbGNhY2hlKiBdCgkJCQkJCQkJCXRoZW4KCQkJCQkJCQkJCXByaW50ZiAiIERv
	bmVcbiIKCQkJCQkJCQkJCWVjaG8gIi0tIEJ1aWxkIHRpbWUgPSAkY291bnQgc2VjLlxu
	IgoJCQkJCQkJCQkJcmV0dXJuCgkJCQkJCQkJZWxpZiBbICRjb3VudCAtZ3QgJCgoMTIq
	VGltZU91dC0xKSkgXSAgIyB0aW1lb3V0Mj0xMip0aW1lb3V0PTEyKjEwPTEyMHNlYwoJ
	CQkJCQkJCQl0aGVuCgkJCQkJCQkJCQlwcmludGYgIiBGYWxzZVxuIgoJCQkJCQkJCQkJ
	ZWNobyAiLS0gVGltZW91dCAke2NvdW50fSBzZWMuXG4iCgkJCQkJCQkJCQllY2hvICIt
	LSBVbmtub3duIGVycm9yIC0tIgoJCQkJCQkJCQkJcmV0dXJuCgkJCQkJCQkJZmkKCQkJ
	CQkJCQlsZXQgImNvdW50Kz0xIgoJCQkJCQkJCWlmIFsgYGV4cHIgIiRjb3VudCIgJSAy
	YCAtZXEgIjAiIF0KCQkJCQkJCQkJdGhlbgoJCQkJCQkJCQkJcHJpbnRmICIuIgoJCQkJ
	CQkJCWZpCgkJCQkJCQlkb25lCgkJCQlmaQoJCQkJI2lmIFsgJGNvdW50IC1ndCAkVGlt
	ZU91dCBdCgkJCQkjdGhlbgoJCQkJCSNlY2hvICItLSBCdWlsZCB0aW1lID0gJCgoY291
	bnQtVGltZU91dCkpIHNlYyIKCQkJCSNlbHNlCgkJCQkJZWNobyAiLS0gQnVpbGQgdGlt
	ZSA9ICRjb3VudCBzZWMuXG4iCgkJCQkjZmkKCQkJCXJldHVybgoJCWVsaWYgWyAkY291
	bnQgLWVxICRUaW1lT3V0IF0KCQkJdGhlbgoJCQkJI3ByaW50ZiAiIEZhbHNlXG4iCgkJ
	CQkjZWNobyAiLS0gVGltZW91dCAkY291bnQgc2VjIgoJCQkJI2VjaG8KCQkJCSNwcmlu
	dGYgIkZvcmNlZCB1cGRhdGluZyB0aGUgc3lzdGVtIGNhY2hlIGZpbGVzICIKCQkJCSN0
	b3VjaCAiJHtXb3JrRGlyMX0iCgkJCQlrZXh0Y2FjaGUgLXVwZGF0ZS12b2x1bWUgLyAt
	Zm9yY2UmCgkJZWxpZiBbICRjb3VudCAtZ3QgJCgoMTIqVGltZU91dC0xKSkgXSAgIyB0
	aW1lb3V0Mj0xMip0aW1lb3V0PTEyKjEwPTEyMHNlYwoJCQl0aGVuCgkJCQlwcmludGYg
	IiBGYWxzZVxuIgoJCQkJZWNobyAiLS0gVGltZW91dCAke2NvdW50fSBzZWMuXG4iCgkJ
	CQllY2hvICItLSBVbmtub3duIGVycm9yIC0tIgoJCQkJcmV0dXJuCgkJZmkKCQlsZXQg
	ImNvdW50Kz0xIgoKCQlpZiBbIGBleHByICIkY291bnQiICUgMmAgLWVxICIwIiBdCgkJ
	CXRoZW4KCQkJCXByaW50ZiAiLiIKCQlmaQoKCglkb25lCn0KCnBhY2tNa2V4dCgpIHsK
	CgkKCUZ1bGxEcm9wSW5EaXI9JDEKCURpckRyb3BJbkRpcj0kKGRpcm5hbWUgIiR7RnVs
	bERyb3BJbkRpcn0iKSAKCUJhc2VEcm9wSW5EaXI9JChiYXNlbmFtZSAiJHtGdWxsRHJv
	cEluRGlyfSIpIAoJCmlmIFtbIGBmaW5kICIke0Z1bGxEcm9wSW5EaXJ9IiAtbmFtZSAq
	LmtleHRgIF1dCgogICAgdGhlbgpjYXQgPDxFT0YKVGFzazogUGFjayAiJHtGdWxsRHJv
	cEluRGlyfSIKICAgICAgICB0byAiJHtEaXJEcm9wSW5EaXJ9L0V4dGVuc2lvbnMubWtl
	eHQiCkVPRgoJCQogICAgCWVjaG8KICAgIAkKICAgICAgICBTZXRQZXJtaXNzaW9uc01v
	ZCAiJHtGdWxsRHJvcEluRGlyfSIKCiAgICAgICAgaWYgWyAtZSAiJERpckRyb3BJbkRp
	ci9FeHRlbnNpb25zLm1rZXh0IiBdCiAgICAgICAgICAgIHRoZW4KICAgICAgICAgICAg
	ICAgIHByaW50ZiAiQmFja1VwIFwiRXh0ZW5zaW9ucy5ta2V4dFwiIHRvIFwiRXh0ZW5z
	aW9ucy5iYWsubWtleHRcIiAuLi4gIgogICAgICAgICAgICAgICAgbXYgLWYgIiREaXJE
	cm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9u
	cy5iYWsubWtleHQiCiAgICAgICAgICAgICAgICBwcmludGYgIkRvbmUuXG4iCiAgICAg
	ICAgICAgICAgICBlY2hvCiAgICAgICAgZmkKCQogICAgCXRvdWNoICIkRnVsbERyb3BJ
	bkRpciIKICAgIAkKICAgIAlzdGFydHRpbWU9YGRhdGUgKyVzYAoKICAgIAlpMzg2X3Bw
	Y19rZXh0cz0kKCBrZXh0ZmluZCAtLSAiJHtGdWxsRHJvcEluRGlyfSIgXCggLWFyY2gt
	ZXhhY3QgaTM4NiAtb3IgLWFyY2gtZXhhY3QgcHBjLGkzODYgXCkgKSIiCiAgICAgICAg
	CgkJaWYgW1sgIiR7U25vd0xlb0V4aXN0fSIgPSAibm8iIHx8ICEgIiIgPSAiJHtpMzg2
	X3BwY19rZXh0c30iIF1dCgojCQkJSWYgb25lIG9mIHRoZSBjb25kaXRpb25zIGlzIHRy
	dWUgdGhlbgkKCQkJdGhlbgoJCQkJCXByaW50ZiAiRm91bmQgaTM4NiAoYXJjaCkgb25s
	eSBrZXh0KHMpLlxuIgoJCQkJCXByaW50ZiAiUGFja2luZyBpMzg2IChhcmNoKSBcIkV4
	dGVuc2lvbnMubWtleHRcIiAuLi4gIgoJICAgIAkJCQoJICAgIAkJCWlmICgga2V4dGNh
	Y2hlIC1hIGkzODYgLXogLW0gIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIg
	IiRGdWxsRHJvcEluRGlyIiApIAoJICAgIAkJCQl0aGVuCgkgICAgCQkJCQlwcmludGYg
	IkRvbmUuXG4iCgkgICAgCQkJCQlmaW5pc2h0aW1lPWBkYXRlICslc2AKCQkgICAJIAkJ
	CQllY2hvICItLSBCdWlsZCB0aW1lID0gJCgoJGZpbmlzaHRpbWUtJHN0YXJ0dGltZSkp
	IHNlYy4iCgkgICAgCQkJCQllY2hvCgkgICAgCQkJCQlwcmludGYgIlJlcGFpciBcIkV4
	dGVuc2lvbnMubWtleHRcIiBwZXJtaXNzaW9uIC4uLiAiCgkgICAgCQkJCgkgICAgCQkJ
	CQljaG1vZCAtUiA2NDQgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIKCSAg
	ICAJCQkJCWNob3duIC1SIHJvb3Q6d2hlZWwgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9u
	cy5ta2V4dCIKCSAgICAJCQkKCQkgICAgCQkJCXByaW50ZiAiRG9uZS5cbiIKCSAgICAJ
	CQkJCWVjaG8KCSAgICAJCQkJZWxzZSAKCSAgICAJCQkJCWVjaG8KCSAgICAJCQkJCWVj
	aG8gIlNvcnJ5LCBjb3VsZCBub3QgY3JlYXRlIFwiRXh0ZW5zaW9ucy5ta2V4dFwiIgoJ
	ICAgIAkJCQkJZWNobwoJICAgIAkJCQkJcmV0dXJuCgkKCSAgICAJCQlmaQoJCQllbHNl
	CiMJCQkJCXByaW50ZiAiRm91bmQgaTM4Ni94ODZfNjQgKGFyY2gpIGtleHQocykuXG4i
	CgkJCQkJcHJpbnRmICJQYWNraW5nIGkzODYveDg2XzY0IChhcmNoKSBcIkV4dGVuc2lv
	bnMubWtleHRcIiAuLi4gIgoKIyAgICAgICAgICAgICAgICAgICAvdXNyL3NiaW4va2V4
	dGNhY2hlIC16IC1tIC9FeHRyYS9FeHRlbnNpb25zLm1rZXh0IC9FeHRyYS9FeHRlbnNp
	b25zLwkJCQkJCgkgICAgCQkJaWYgKCBrZXh0Y2FjaGUgLXogLW0gIiREaXJEcm9wSW5E
	aXIvRXh0ZW5zaW9ucy5ta2V4dCIgIiRGdWxsRHJvcEluRGlyIiApIAoJICAgIAkJCQl0
	aGVuCgkgICAgCQkJCQlwcmludGYgIkRvbmUuXG4iCgkgICAgCQkJCQlmaW5pc2h0aW1l
	PWBkYXRlICslc2AKCQkgICAJIAkJCQllY2hvICItLSBCdWlsZCB0aW1lID0gJCgoJGZp
	bmlzaHRpbWUtJHN0YXJ0dGltZSkpIHNlYy4iCgkgICAgCQkJCQllY2hvCgkgICAgCQkJ
	CQlwcmludGYgIlJlcGFpciBcIkV4dGVuc2lvbnMubWtleHRcIiBwZXJtaXNzaW9uIC4u
	LiAiCgkgICAgCQkJCgkgICAgCQkJCQljaG1vZCAtUiA2NDQgIiREaXJEcm9wSW5EaXIv
	RXh0ZW5zaW9ucy5ta2V4dCIKCSAgICAJCQkJCWNob3duIC1SIHJvb3Q6d2hlZWwgIiRE
	aXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIKCSAgICAJCQkKCQkgICAgCQkJCXBy
	aW50ZiAiRG9uZS5cbiIKCSAgICAJCQkJCWVjaG8KCSAgICAJCQkJZWxzZSAKCSAgICAJ
	CQkJCWVjaG8KCSAgICAJCQkJCWVjaG8gIlNvcnJ5LCBjb3VsZCBub3QgY3JlYXRlIFwi
	RXh0ZW5zaW9ucy5ta2V4dFwiIgoJICAgIAkJCQkJZWNobwoJICAgIAkJCQkJcmV0dXJu
	CgkgICAgCQkJZmkKCQlmaQoJZWxzZQoJCXByaW50ZiAiTm90aGluZyB0byBkbyAtLSBL
	ZXh0IGZpbGVzIG5vdCBmb3VuZC5cbiIKCQlwcmludGYgIlxuIgpmaQp9IAoKdW5wYWNr
	TWtleHQoKQl7CgpjYXQgPDxFT0YKVGFzazogVW5QYWNrICIke0Z1bGxEcm9wTmFtZX0i
	CiAgICAgICAgICB0byAiJHtIb21lRGlyfS9EZXNrdG9wLyR7QmFzZURyb3BOYW1lfV9j
	b250ZW50IgpFT0YKCWVjaG8KCglwcmludGYgIlNlYXJjaCBcIiR7QmFzZURyb3BOYW1l
	fV9jb250ZW50XCIgLi4uICIKCglpZiBbIC1kICIke0hvbWVEaXJ9L0Rlc2t0b3AvJHtC
	YXNlRHJvcE5hbWV9X2NvbnRlbnQiIF0KCQl0aGVuCgkJCXByaW50ZiAiRm91bmQuXG4i
	CgkJCXJtIC1yZiAiJHtIb21lRGlyfS9EZXNrdG9wLyR7QmFzZURyb3BOYW1lfV9jb250
	ZW50LmJhayIKCQkJZWNobwoJCQlwcmludGYgIkJhY2tVcCBcIiR7QmFzZURyb3BOYW1l
	fV9jb250ZW50XCIgdG8gXCIke0Jhc2VEcm9wTmFtZX1fY29udGVudC5iYWtcIiAuLi4g
	IgoJCQltdiAtZiAiJHtIb21lRGlyfS9EZXNrdG9wLyR7QmFzZURyb3BOYW1lfV9jb250
	ZW50LyIgIiR7SG9tZURpcn0vRGVza3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudC5i
	YWsvIiAKCQkJcHJpbnRmICJEb25lLlxuIgoJCQlta2RpciAtcCAtbSA3NzUgIiR7SG9t
	ZURpcn0vRGVza3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudCIKCQkJZWNobwoJCWVs
	c2UKCQkJcHJpbnRmICJOb3QgRm91bmQuXG4iCgkJCWVjaG8KCQkJbWtkaXIgLXAgLW0g
	Nzc1ICIke0hvbWVEaXJ9L0Rlc2t0b3AvJHtCYXNlRHJvcE5hbWV9X2NvbnRlbnQiCglm
	aQoJCQlwcmludGYgIlVuUGFja2luZyBcIiR7QmFzZURyb3BOYW1lfVwiIC4uLiAiCgoJ
	bWtleHR1bnBhY2sgLXYgLWQgIiR7SG9tZURpcn0vRGVza3RvcC8ke0Jhc2VEcm9wTmFt
	ZX1fY29udGVudCIgIiRGdWxsRHJvcE5hbWUiIDI+IC9kZXYvbnVsbAoJcHJpbnRmICJE
	b25lLlxuIgoJZWNobwoKfQoKVXBkYXRlT1NLZXh0U2lnRXhjZXB0aW9uTGlzdCgpIHsK
	CktleHRzVGVzdERpcj0iJHsxfSIKI2VjaG8gIjE9JHsxfSIKI2VjaG8gIktleHRzVGVz
	dERpcj0ke0tleHRzVGVzdERpcn0iCgojIGNhdCA8PEVPRgojIFRhc2s6CVVwZGF0ZSBP
	U0tleHRTaWdFeGNlcHRpb25MaXN0LgojICAKIyBFT0YKCmlmIFtbICEgIiR7QXBwbGVL
	ZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aH0iIF1dICMgQ2hlY2sgaWYgQXBw
	bGVLZXh0RXhjbHVkZUxpc3Qua2V4dCBleGlzdAoJdGhlbgoJCSNlY2hvICJBcHBsZUtl
	eHRFeGNsdWRlTGlzdC5rZXh0IG5vdCBmb3VuZCIKCQlyZXR1cm4KZmkKCkFwcGxlS2V4
	dEV4Y2x1ZGVMaXN0S2V4dENGQnVuZGxlVmVyc2lvbj0iJCgvdXNyL2xpYmV4ZWMvUGxp
	c3RCdWRkeSAtYyAiUHJpbnQgQ0ZCdW5kbGVWZXJzaW9uIiAiJHtBcHBsZUtleHRFeGNs
	dWRlTGlzdEtleHRJbmZvUGxpc3RQYXRofSIgMj4vZGV2L251bGwpIgplY2hvICJGb3Vu
	ZCAkKC91c3IvbGliZXhlYy9QbGlzdEJ1ZGR5IC1jICJQcmludCBDRkJ1bmRsZUlkZW50
	aWZpZXIiICIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9QbGlzdFBhdGh9IiAy
	Pi9kZXYvbnVsbCk6JEFwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dENGQnVuZGxlVmVyc2lv
	biIKaWYgW1sgISAtZSAiJHtBcHBsZUtleHRFeGNsdWRlTGlzdEtleHRJbmZvUGxpc3RQ
	YXRoL0luZm8ucGxpc3QvSW5mb18kQXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0Q0ZCdW5k
	bGVWZXJzaW9uLnBsaXN0fSIgXV0KCXRoZW4KCQlCYWNrVXBJbmZvUGxpc3Q9IiR7QXBw
	bGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aC9JbmZvLnBsaXN0L0luZm9f
	JEFwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dENGQnVuZGxlVmVyc2lvbi5wbGlzdH0iCgkJ
	Y3AgIiR7QXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aH0iICIke0Jh
	Y2tVcEluZm9QbGlzdH0iCgkJIyBlY2hvICR7QSMqQUJ9CgkJZWNobyAiQmFja3VwICR7
	QXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aCMqQ29udGVudHMvfSB0
	byAke0JhY2tVcEluZm9QbGlzdCMqQ29udGVudHMvfSIKCQkKZmkKZWNobwoKcHJpbnRm
	ICJVcGRhdGluZyBPU0tleHRTaWdFeGNlcHRpb25MaXN0IC4iCgpzdGFydHRpbWU9YGRh
	dGUgKyVzYAoKQWxsQ2hlY2tLZXh0c0NvdW50PTAKQWRkZWRVblNpZ0tleHRzQ291bnQ9
	MApVcGRhdGVkVW5TaWdLZXh0c0NvdW50PTAKRXJyb3JzQ291bnQ9MAoKCktleHRzSW5m
	b1BsaXN0UGF0aD1gZmluZCAiJHtLZXh0c1Rlc3REaXJ9IiAtbmFtZSBJbmZvLnBsaXN0
	YAojZWNobyAiJHtLZXh0c0luZm9QbGlzdFBhdGh9IgoKIyBLZXh0QXJjaD0kKGtleHRm
	aW5kICIke0N1cnJlbnRLZXh0fSIgLXJlcG9ydCAtbm8taGVhZGVyIC1waWQpCiMgCk9s
	ZElGUz0kSUZTICAgIyBzYXZlIG9sZCAkSUZTCklGUz0kJ1xuJyAgICAgIyBuZXcgJElG
	UyAgCiMgCiNlY2hvICJFeGFtaW5lIEFwcGxlS2V4dEV4Y2x1ZGVMaXN0LmtleHQgZm9y
	IGVudHJ5OiIKZm9yIEN1cnJlbnRLZXh0SW5mb1BsaXN0UGF0aCBpbiAke0tleHRzSW5m
	b1BsaXN0UGF0aH0KCWRvCgkjIEZvdW5kIEluZm8gZm9yIEN1cnJlbnQgS2V4dCAKCUN1
	cnJlbnRLZXh0Q0ZCdW5kbGVJZGVudGlmaWVyPSIkKC91c3IvbGliZXhlYy9QbGlzdEJ1
	ZGR5IC1jICJQcmludCBDRkJ1bmRsZUlkZW50aWZpZXIiICIke0N1cnJlbnRLZXh0SW5m
	b1BsaXN0UGF0aH0iIDI+L2Rldi9udWxsKSIKIAlpZiBbWyAhICIke0N1cnJlbnRLZXh0
	Q0ZCdW5kbGVJZGVudGlmaWVyfSIgXV0KICAJCXRoZW4KICAJCQkjZWNobyAiTm90IEZv
	dW5kIENGQnVuZGxlSWRlbnRpZmllciBpbjogXCIke0N1cnJlbnRLZXh0SW5mb1BsaXN0
	UGF0aH1cIiIKICAJCQlsZXQgIkVycm9yc0NvdW50Kz0xIgogIAkJZWxzZQoJCQkjZWNo
	byAiRm91bmQgQ0ZCdW5kbGVJZGVudGlmaWVyIGluOiBcIiR7Q3VycmVudEtleHRJbmZv
	UGxpc3RQYXRofVwiOiR7Q3VycmVudEtleHRDRkJ1bmRsZUlkZW50aWZpZXJ9IgogIAkJ
	CUN1cnJlbnRLZXh0Q0ZCdW5kbGVWZXJzaW9uPSIkKC91c3IvbGliZXhlYy9QbGlzdEJ1
	ZGR5IC1jICJQcmludCBDRkJ1bmRsZVZlcnNpb24iICIke0N1cnJlbnRLZXh0SW5mb1Bs
	aXN0UGF0aH0iIDI+L2Rldi9udWxsKSIKICAJCQlpZiBbWyAhICIke0N1cnJlbnRLZXh0
	Q0ZCdW5kbGVWZXJzaW9ufSIgXV0KICAJCQkJdGhlbgogIAkJCQkJI2VjaG8gIk5vdCBG
	b3VuZCBDRkJ1bmRsZVZlcnNpb24gaW46IFwiJHtDdXJyZW50S2V4dEluZm9QbGlzdFBh
	dGh9XCIiCiAgCQkJCQlsZXQgIkVycm9yc0NvdW50Kz0xIgoJCQkJZWxzZQoJCQkJCSNl
	Y2hvICJGb3VuZDogJHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn06JHtDdXJy
	ZW50S2V4dENGQnVuZGxlVmVyc2lvbn0iCgkJCQkJQ3VycmVudEtleHRfQ29kZVNpZ25h
	dHVyZVBhdGg9IiR7Q3VycmVudEtleHRJbmZvUGxpc3RQYXRoL0luZm8ucGxpc3QvX0Nv
	ZGVTaWduYXR1cmUvQ29kZVJlc291cmNlc30iCgkJCQkJbGV0ICJBbGxDaGVja0tleHRz
	Q291bnQrPTEiCgkJCQkJI2VjaG8gIiR7Q3VycmVudEtleHRfQ29kZVNpZ25hdHVyZVBh
	dGh9IgoJCQkJCWlmIFtbICEgLWUgIiR7Q3VycmVudEtleHRfQ29kZVNpZ25hdHVyZVBh
	dGh9IiBdXQoJCQkJCQl0aGVuCgkJCQkJCQkjZWNobyAiRm91bmQ6IF9Db2RlU2lnbmF0
	dXJlUGF0aCBmb3IgJHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn06JHtDdXJy
	ZW50S2V4dENGQnVuZGxlVmVyc2lvbn0iCgkJCQkJCQlDRkJ1bmRsZVZlcnNpb25Gb3Vu
	ZD0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQgT1NLZXh0U2lnRXhj
	ZXB0aW9uTGlzdDoke0N1cnJlbnRLZXh0Q0ZCdW5kbGVJZGVudGlmaWVyfSIgIiR7QXBw
	bGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aH0iIDI+L2Rldi9udWxsKSIK
	ICAJCQkJCQkJaWYgW1sgIiR7Q0ZCdW5kbGVWZXJzaW9uRm91bmR9IiBdXQogIAkJCQkJ
	CQkJdGhlbgoJCQkJCQkJCQkjQ0ZCdW5kbGVWZXJzaW9uRm91bmQ9IiQoL3Vzci9saWJl
	eGVjL1BsaXN0QnVkZHkgLWMgIlByaW50IE9TS2V4dFNpZ0V4Y2VwdGlvbkxpc3Q6JHtD
	dXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn0gc3RyaW5nIiAiJHtBcHBsZUtleHRF
	eGNsdWRlTGlzdEtleHRJbmZvUGxpc3RQYXRofSIgMj4vZGV2L251bGwpIgoJCQkJCQkJ
	CQkjZWNobyAiJHtDRkJ1bmRsZVZlcnNpb25Gb3VuZH0iCiAgCQkJCQkJCQkJI3ByaW50
	ZiAiJHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn06JHtDRkJ1bmRsZVZlcnNp
	b25Gb3VuZH0gRm91bmRcbiIKCQkJCQkJCQkJaWYgISBbWyAiJHtDRkJ1bmRsZVZlcnNp
	b25Gb3VuZH0iID0gIiR7Q3VycmVudEtleHRDRkJ1bmRsZVZlcnNpb259IiBdXQoJCQkJ
	CQkJCQkJdGhlbgoJCQkJCQkJCQkJCSNSZXN1bHQ9IiQoL3Vzci9saWJleGVjL1BsaXN0
	QnVkZHkgLWMgIkRlbGV0ZSBPU0tleHRTaWdFeGNlcHRpb25MaXN0OiR7Q3VycmVudEtl
	eHRDRkJ1bmRsZUlkZW50aWZpZXJ9IiAiJHtBcHBsZUtleHRFeGNsdWRlTGlzdEtleHRJ
	bmZvUGxpc3RQYXRofSIpIgoJCQkJCQkJCQkJCSNwcmludGYgIlVwZGF0ZSAke0N1cnJl
	bnRLZXh0Q0ZCdW5kbGVJZGVudGlmaWVyfToke0NGQnVuZGxlVmVyc2lvbkZvdW5kfSB0
	byA6JHtDdXJyZW50S2V4dENGQnVuZGxlVmVyc2lvbn0gLi4uICIKCQkJCQkJCQkJCQlS
	ZXN1bHQ9IiQoL3Vzci9saWJleGVjL1BsaXN0QnVkZHkgLWMgIlNldCBPU0tleHRTaWdF
	eGNlcHRpb25MaXN0OiR7Q3VycmVudEtleHRDRkJ1bmRsZUlkZW50aWZpZXJ9IFwiJHtD
	dXJyZW50S2V4dENGQnVuZGxlVmVyc2lvbn1cIiIgIiR7QXBwbGVLZXh0RXhjbHVkZUxp
	c3RLZXh0SW5mb1BsaXN0UGF0aH0iKSIKCQkJCQkJCQkJCQlpZiBbWyAiJHtSZXN1bHR9
	IiBdXQoJCQkJCQkJCQkJCQl0aGVuCgkJCQkJCQkJCQkJCQkjcHJpbnRmICJFcnJvclxu
	IgoJCQkJCQkJCQkJCQkJbGV0ICJFcnJvcnNDb3VudCs9MSIKCQkJCQkJCQkJCQkJZWxz
	ZQoJCQkJCQkJCQkJCQkJI3ByaW50ZiAiT0tcbiIKCQkJCQkJCQkJCQkJCWxldCAiVXBk
	YXRlZFVuU2lnS2V4dHNDb3VudCs9MSIKCgkJCQkJCQkJCQkJZmkKCQkJCQkJCQkJZmkK
	CQkJCQkJCQllbHNlCiAgCQkJCQkJCQkJI3ByaW50ZiAiQWRkICR7Q3VycmVudEtleHRD
	RkJ1bmRsZUlkZW50aWZpZXJ9OiR7Q3VycmVudEtleHRDRkJ1bmRsZVZlcnNpb259IC4u
	LiAiCiAgCQkJCQkJCQkJUmVzdWx0PSIkKC91c3IvbGliZXhlYy9QbGlzdEJ1ZGR5IC1j
	ICJBZGQgT1NLZXh0U2lnRXhjZXB0aW9uTGlzdDoke0N1cnJlbnRLZXh0Q0ZCdW5kbGVJ
	ZGVudGlmaWVyfSBzdHJpbmcgXCIke0N1cnJlbnRLZXh0Q0ZCdW5kbGVWZXJzaW9ufVwi
	IiAiJHtBcHBsZUtleHRFeGNsdWRlTGlzdEtleHRJbmZvUGxpc3RQYXRofSIpIgogIAkJ
	CQkJCQkJCWlmIFtbICIke1Jlc3VsdH0iIF1dCiAgCQkJCQkJCQkJCXRoZW4KICAJCQkJ
	CQkJCQkJCSNwcmludGYgIkVycm9yXG4iCiAgCQkJCQkJCQkJCQlsZXQgIkVycm9yc0Nv
	dW50Kz0xIgogCSAJCQkJCQkJCQllbHNlCiAgCQkJCQkJCQkJCQkjcHJpbnRmICJPS1xu
	IgogIAkJCQkJCQkJCQkJbGV0ICJBZGRlZFVuU2lnS2V4dHNDb3VudCs9MSIKICAJCQkJ
	CQkJCQlmaQoJCQkJCQkJZmkKICAJCQkJCWZpCgkJCWZpCiAJZmkKCWlmIFsgYGV4cHIg
	IiRBbGxDaGVja0tleHRzQ291bnQiICUgNTBgIC1lcSAiMCIgXQoJCXRoZW4KCQkJIHBy
	aW50ZiAiLiIKCWZpCiAJZG9uZQpmaW5pc2h0aW1lPWBkYXRlICslc2AKCklGUz0kT2xk
	SUZTICAgIyByZXR1cm4gb2xkICRJRlMKCnByaW50ZiAiIERvbmUuXG4iCgplY2hvICIt
	LSBUb3RhbCBwcm9jZXNzZWQ6ICgke0FsbENoZWNrS2V4dHNDb3VudH0ga2V4dHMpIEFk
	ZGVkICR7QWRkZWRVblNpZ0tleHRzQ291bnR9LCBVcGRhdGVkICR7VXBkYXRlZFVuU2ln
	S2V4dHNDb3VudH0gZW50cmllcyBmb3IgJCgoJGZpbmlzaHRpbWUtJHN0YXJ0dGltZSkp
	IHNlYy4iCmVjaG8KfQoKUGF0Y2hLZXh0SW5mb1BsaXN0KCkgewoKIyBJbnB1dCAxLWtl
	eHQgMi1ub2RlIDMtbm9kZSB2YWx1ZQojIFNlYXJjaCBrZXh0CiMgSWYgTm9kZSBleGlz
	dCAtIENvcnJlY3Qgbm9kZSB2YWx1ZQojIEVsc2UgQWRkIE5vZGUgYW5kIFNldCBOb2Rl
	IHZhbHVlCgpsb2NhbCBLZXh0Rm9yUGF0Y2g9IiR7MX0iCmxvY2FsIE5vZGVGb3JQYXRj
	aD0iJHsyfSIKbG9jYWwgTm9kZVZhbHVlRm9yUGF0Y2g9IiR7M30iCgpsb2NhbCBQYXRj
	aEtleHRQYXRoPWBrZXh0ZmluZCB8Z3JlcCAiJHtLZXh0Rm9yUGF0Y2h9ImAgIyBzZWFy
	Y2gga2V4dCBmb3IgcGF0Y2gKI2VjaG8gIlBhdGNoS2V4dFBhdGg9JHtQYXRjaEtleHRQ
	YXRofSIKbG9jYWwgUGF0Y2hLZXh0SW5mb1BsaXN0UGF0aD1gZmluZCAiJHtQYXRjaEtl
	eHRQYXRofSIgLW5hbWUgSW5mby5wbGlzdCAyPi9kZXYvbnVsbGAgIyBzZWFyY2gga2V4
	dCBmb3IgcGF0Y2ggSW5mbyBQbGlzdCBQYXRoCgppZiBbWyAiJHtQYXRjaEtleHRJbmZv
	UGxpc3RQYXRofSIgXV0gIyBDaGVjayBpZiBQYXRjaEtleHQgSW5mb1BsaXN0IGV4aXN0
	Cgl0aGVuCgkJbG9jYWwgUGF0Y2hLZXh0Tm9kZVZhbHVlPSIkKC91c3IvbGliZXhlYy9Q
	bGlzdEJ1ZGR5IC1jICJQcmludCAke05vZGVGb3JQYXRjaH0iICIke1BhdGNoS2V4dElu
	Zm9QbGlzdFBhdGh9IiAyPi9kZXYvbnVsbCkiCgkJaWYgW1sgISAiJHtQYXRjaEtleHRO
	b2RlVmFsdWV9IiBdXSB8fCBbWyAiJHtQYXRjaEtleHROb2RlVmFsdWV9IiAhPSAiJHtO
	b2RlVmFsdWVGb3JQYXRjaH0iIF1dCgkJCXRoZW4KY2F0IDw8RU9GClRhc2s6IFBhdGNo
	ICIke0tleHRGb3JQYXRjaH0iIEluZm8ucGxpc3Q6CiAgICAgIFNldCAgICIke05vZGVG
	b3JQYXRjaH0iIHRvICIke05vZGVWYWx1ZUZvclBhdGNofSIKICAKRU9GCgkJI2VjaG8g
	IkZvdW5kICR7S2V4dEZvclBhdGNofSIKCQlsb2NhbCBQYXRjaEtleHRDRkJ1bmRsZVZl
	cnNpb249IiQoL3Vzci9saWJleGVjL1BsaXN0QnVkZHkgLWMgIlByaW50IENGQnVuZGxl
	VmVyc2lvbiIgIiR7UGF0Y2hLZXh0SW5mb1BsaXN0UGF0aH0iIDI+L2Rldi9udWxsKSIg
	IyBmaW5kIEtleHQgQ0ZCdW5kbGVWZXJzaW9uCgkJZWNobyAiRm91bmQgJHtLZXh0Rm9y
	UGF0Y2h9OkNGQnVuZGxlVmVyc2lvbjokUGF0Y2hLZXh0Q0ZCdW5kbGVWZXJzaW9uIgoK
	CQlsb2NhbCBCYWNrVXBJbmZvUGxpc3Q9IiR7UGF0Y2hLZXh0SW5mb1BsaXN0UGF0aC9J
	bmZvLnBsaXN0L0luZm9fJFBhdGNoS2V4dENGQnVuZGxlVmVyc2lvbi5wbGlzdH0iCgkJ
	aWYgW1sgISAtZSAiJHtQYXRjaEtleHRJbmZvUGxpc3RQYXRoL0luZm8ucGxpc3QvSW5m
	b18kUGF0Y2hLZXh0Q0ZCdW5kbGVWZXJzaW9uLnBsaXN0fSIgXV0KCQkJdGhlbgoJCQkJ
	Y3AgIiR7UGF0Y2hLZXh0SW5mb1BsaXN0UGF0aH0iICIke0JhY2tVcEluZm9QbGlzdH0i
	CgkJCQkjIGVjaG8gJHtBIypBQn0KCQkJCWVjaG8gIkJhY2t1cCAke1BhdGNoS2V4dElu
	Zm9QbGlzdFBhdGgjKkNvbnRlbnRzL30gdG8gJHtCYWNrVXBJbmZvUGxpc3QjKkNvbnRl
	bnRzL30gLi4uIE9LIgoJCQllbHNlCgkJCQllY2hvICJGb3VuZCBCYWNrdXAgSW5mby5w
	bGlzdCAtICR7QmFja1VwSW5mb1BsaXN0IypDb250ZW50cy99IgkKCQlmaQoJCWVjaG8K
	CgkJaWYgW1sgISAiJHtQYXRjaEtleHROb2RlVmFsdWV9IiBdXQoJCQl0aGVuCgkJCQll
	Y2hvICJOb3QgRm91bmQgJHtOb2RlRm9yUGF0Y2h9IGluICR7UGF0Y2hLZXh0SW5mb1Bs
	aXN0UGF0aCMqQ29udGVudHMvfSIKCQkJCXByaW50ZiAiQWRkICR7Tm9kZUZvclBhdGNo
	fToke05vZGVWYWx1ZUZvclBhdGNofSAuLi4gIgoJCQkJbG9jYWwgUmVzdWx0PSIkKC91
	c3IvbGliZXhlYy9QbGlzdEJ1ZGR5IC1jICJBZGQgJHtOb2RlRm9yUGF0Y2h9IHN0cmlu
	ZyAke05vZGVWYWx1ZUZvclBhdGNofSIgIiR7UGF0Y2hLZXh0SW5mb1BsaXN0UGF0aH0i
	KSIKCQkJCWlmIFtbICIke1Jlc3VsdH0iIF1dCgkJCQkJdGhlbgoJCQkJCQlwcmludGYg
	IkVycm9yXG4iCgkJCQkJZWxzZQoJCQkJCQlwcmludGYgIk9LXG4iCgkJCQlmaQoJCQll
	bHNlCgkJCQllY2hvICJGb3VuZCAke05vZGVGb3JQYXRjaH06JHtQYXRjaEtleHROb2Rl
	VmFsdWV9IGluIEluZm8ucGxpc3QiCgkJCQkjcHJpbnRmICIke0N1cnJlbnRLZXh0Q0ZC
	dW5kbGVJZGVudGlmaWVyfToke0NGQnVuZGxlVmVyc2lvbkZvdW5kfSBGb3VuZFxuIgoJ
	CQkJaWYgISBbWyAiJHtQYXRjaEtleHROb2RlVmFsdWV9IiA9ICIkezN9IiBdXQoJCQkJ
	CXRoZW4KCQkJCQkJI1Jlc3VsdD0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAi
	RGVsZXRlIE9TS2V4dFNpZ0V4Y2VwdGlvbkxpc3Q6JHtDdXJyZW50S2V4dENGQnVuZGxl
	SWRlbnRpZmllcn0iICIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9QbGlzdFBh
	dGh9IikiCgkJCQkJCXByaW50ZiAiVXBkYXRlICR7Tm9kZUZvclBhdGNofToke1BhdGNo
	S2V4dE5vZGVWYWx1ZX0gdG8gXCIke05vZGVWYWx1ZUZvclBhdGNofVwiIC4uLiAiCgkJ
	CQkJCVJlc3VsdD0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiU2V0ICR7Tm9k
	ZUZvclBhdGNofSBcIiR7Tm9kZVZhbHVlRm9yUGF0Y2h9XCIiICIke1BhdGNoS2V4dElu
	Zm9QbGlzdFBhdGh9IikiCgkJCQkJCWlmIFtbICIke1Jlc3VsdH0iIF1dCgkJCQkJCQl0
	aGVuCgkJCQkJCQkJcHJpbnRmICJFcnJvclxuIgoJCQkJCQkJZWxzZQoJCQkJCQkJCXBy
	aW50ZiAiT0tcbiIKCQkJCQkJZmkKCQkJCQllbHNlCgkJCQkJCWVjaG8gIk5vdGhpbmcg
	dG8gZG8gLSBwYXRjaGVkIGFscmVhZHkiCgkJCQlmaQoJCWZpCgkJZmkKCgllbHNlCgkJ
	I2VjaG8gIkVycm9yICR7S2V4dEZvclBhdGNofSBub3QgZm91bmQiCgkJcmV0dXJuIDEK
	ZmkKCmVjaG8KfQoKSW5zdGFsbEtleHQoKSB7CgpDdXJyZW50S2V4dD0kMQpCYXNlRHJv
	cE5hbWU9JChiYXNlbmFtZSAiJHtDdXJyZW50S2V4dH0iKQpEaXJGaWxlc05hbWU9IiR7
	V29ya0RpcjF9IgoKS2V4dEFyY2g9JChrZXh0ZmluZCAtbm8tcGF0aHMgIiR7Q3VycmVu
	dEtleHR9IiAtcHJpbnQwIC1lY2hvIC1uICIgKGFyY2hlcykgIiAtcGEpCgpjYXQgPDxF
	T0YKVGFzazogSW5zdGFsbCAiJHtLZXh0QXJjaH0iCgkJICAgdG8gIiR7V29ya0RpcjF9
	IgogCkVPRgoKCU9sZElGUz0kSUZTICAgIyBzYXZlIG9sZCAkSUZTCglJRlM9JCdcbicg
	ICAgICMgbmV3ICRJRlMgIAoKICAgIGZvciBGaWxlcyBpbiAkKGZpbmQgIiR7V29ya0Rp
	cjF9IiAtbmFtZSAiJHtCYXNlRHJvcE5hbWV9IikKCSAgICBkbwoKCQlEaXJGaWxlc05h
	bWU9JChkaXJuYW1lICIke0ZpbGVzfSIpIAoJCXByaW50ZiAiRm91bmQgZXhpc3Rpbmcg
	XCIke0ZpbGVzfVwiXG4iCgkJcHJpbnRmICJcbiIKCgkJaWYgWyAtZSAiJHtEaXJGaWxl
	c05hbWV9LyR7QmFzZURyb3BOYW1lfS5iYWsiIF0KCQkJdGhlbgoJCQkJcm0gLXJmICIk
	e0RpckZpbGVzTmFtZX0vJHtCYXNlRHJvcE5hbWV9LmJhayIKCQlmaQoKCQlwcmludGYg
	IkJhY2tVcCA6IFwiJHtCYXNlRHJvcE5hbWV9XCIgdG8gXCIke0Jhc2VEcm9wTmFtZX0u
	YmFrXCIgLi4uICIKCgkJaWYgbXYgLWYgIiR7RGlyRmlsZXNOYW1lfS8ke0Jhc2VEcm9w
	TmFtZX0iICIke0RpckZpbGVzTmFtZX0vJHtCYXNlRHJvcE5hbWV9LmJhayIKCQkJdGhl
	bgoJCQkJcHJpbnRmICJEb25lLlxuIgoJCQllbHNlCgkJCQlwcmludGYgIkVycm9yLlxu
	IgoJCWZpCgkJcHJpbnRmICJcbiIKCiAgICAgICAgZG9uZQoJCglJRlM9JE9sZElGUyAg
	ICMgcmV0dXJuIG9sZCAkSUZTCgpwcmludGYgIkluc3RhbGw6IFwiJHtCYXNlRHJvcE5h
	bWV9XCIgLi4uICIKCmlmIGNwIC1SZnAgIiR7Q3VycmVudEtleHR9IiAiJHtEaXJGaWxl
	c05hbWV9IgoJdGhlbgoJCXByaW50ZiAiT0suXG4iCgllbHNlCgkJcHJpbnRmICJDYW4n
	dCBjb3B5IHNvdXJjZSBmaWxlLlxuIgoJCXJldHVybiAxCmZpCQkKCnByaW50ZiAiXG4i
	CgpTZXRQZXJtaXNzaW9uc01vZCAiJHtEaXJGaWxlc05hbWV9LyR7QmFzZURyb3BOYW1l
	fSIKIwp0b3VjaCAiJHtEaXJGaWxlc05hbWV9LyR7QmFzZURyb3BOYW1lfSIKCn0KCnNh
	dmVFeGl0KCkgewoKcHJpbnRmICJTeW5jaW5nIGRpc2sgY2FjaGUgLi4uICIKc3luYwpw
	cmludGYgIkRvbmUuXG4iCn0KCmVuZFByb2dyYW0oKSB7CmVjaG8KZWNobyAiQWxsIGRv
	bmUuIgplY2hvICJIYXZlIGEgbmljZSAuLi4gZGF5KG5pZ2h0KSIKcHJpbnRmICJFbmpv
	eSAuLi5cblxhIgpleGl0Cn0KCmNoZWNrRmlsZUV4aXN0KCkgewoKaWYgW1sgLWUgIiQx
	IiBdXQoJdGhlbgoJZWNobyAiXCIkMVwiIGV4aXN0IgoJCXJldHVybiAwCgllbHNlCgll
	Y2hvICJcIiQxXCIgbm90IGV4aXN0IgoJCXJldHVybiAxCmZpCn0KCm1haW4oKSB7Cgpj
	YXQgPDxFT0YKVGFzazogRnVsbCBzZXJ2aWNlIGZvciAiJHtXb3JrRGlyMX0iIGFuZAog
	ICAgICAgICAgICAgICAgICAgICAgICIke1dvcmtEaXIyfSIgZm9sZGVycy4KCkVPRgoK
	Q2hlY2tDb25maWcKCmlmIFtbICIke2tleHRfQXBwbGVLZXh0RXhjbHVkZUxpc3R9IiAt
	ZXEgIjEiIF1dICYmIFtbICR7S2Vybk9TUmVsZWFzZX0gLWx0ICIxNCIgXV0KCXRoZW4K
	CQlVcGRhdGVPU0tleHRTaWdFeGNlcHRpb25MaXN0ICIke1dvcmtEaXIxfSIKZmkKCiMg
	TXVzdCB3b3JrIE9LIC0gbm90aGluZyBiYWQgd2l0aCBkaXIgY2hhbmdpbmcKaWYgWyAt
	ZCAiJHtXb3JrRGlyMn0iIF0KICAgIHRoZW4KICAgICAgICBTZXRQZXJtaXNzaW9uc01v
	ZCAiJHtXb3JrRGlyMn0iCmZpCgpTZXRQZXJtaXNzaW9uc01vZCAiJHtXb3JrRGlyMX0i
	CgojIFJlbW92ZSBzbGVlcGltYWdlIGZpbGUKIyBpZiBbIC1mICIvcHJpdmF0ZS92YXIv
	dm0vc2xlZXBpbWFnZSIgXQojICAgICB0aGVuCiMgICAgICAgICBwcmludGYgIlByZXZl
	bnRpdmUgcmVtb3ZhbCBzbGVlcGltYWdlIGZpbGUgLi4uICIKIyAgICAgICAgIHJtIC1y
	ZiAiL3ByaXZhdGUvdmFyL3ZtL3NsZWVwaW1hZ2UiCiMgICAgICAgICBwcmludGYgIkRv
	bmUuXG4iCiMgCQllY2hvCiMgZmkKCgojIFdhaXRpbmcgc3lzdGVtIHJlYnVpbGQga2V4
	dHMgY2FjaGUKClN5c3RlbUNhY2hlVXBkYXRlCgplY2hvCgp9CgoKCiMjIyMjIyMjIyMj
	IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjCiMjIyMjIyBTdGFydCBt
	YWluIHNjcmlwdCBleGVjdXRpb24gcm91dGluZSAjIyMjCiMjIyMjIyMjIyMjIyMjIyMj
	IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjCgoKaWYgWyAtbiAiJHsxfSIgXQoJ
	dGhlbgogCQlGdWxsRHJvcE5hbWU9IiR7MX0iCiAJCUJhc2VEcm9wTmFtZT0iJChiYXNl
	bmFtZSAiJHtGdWxsRHJvcE5hbWV9IikiCiAKIAkJY2FzZSAiJHtCYXNlRHJvcE5hbWV9
	IiBpbgogCQkJKi5ta2V4dCkKIAkJCQltZW1vTVNHCiAJCQkJU3lzdGVtU3BlY01TRwog
	CQkJCVN0YXJ0TVNHCiMJCQkJZWNobyAiJHtCYXNlRHJvcE5hbWV9IgogCQkJCXVucGFj
	a01rZXh0ICIke0Z1bGxEcm9wTmFtZX0iCiAJCQkJc2F2ZUV4aXQKIAkJCQllbmRQcm9n
	cmFtCiAJCQkJOzsKIAogCQkJKi5rZXh0fCoucHBwfCoucGx1Z2lufCouYnVuZGxlKQog
	CQkJCW1lbW9NU0cKIAkJCQlTeXN0ZW1TcGVjTVNHCiAJCQkJU3RhcnRNU0cKIAkJCQlD
	aGVja0NvbmZpZwogCQkJCWk9MQogCQkJCXdoaWxlIFsgJGkgLWxlICQjIF0KIAkJCQlk
	bwogICAgICAgICAgICAgICAgIAlDdXJyZW50S2V4dD0iJChldmFsICJlY2hvIFwkeyRp
	fSIpIgogCQkJCQljYXNlICIkKGJhc2VuYW1lICIkQ3VycmVudEtleHQiKSIgaW4KIAkJ
	CSAgICAJCSoua2V4dHwqLnBwcHwqLnBsdWdpbnwqLmJ1bmRsZSkKIAkJCQkJCQlJbnN0
	YWxsS2V4dCAiJChldmFsICJlY2hvIFwkeyRpfSIpIgoJCQkJCQk7OwogCQkJCQllc2Fj
	CiAJCQkJCWk9YGV4cHIgJGkgKyAxYAogCQkJCWRvbmUKCQkJCWlmIFtbICIke2tleHRf
	QXBwbGVLZXh0RXhjbHVkZUxpc3R9IiAtZXEgIjEiIF1dICYmIFtbICR7S2Vybk9TUmVs
	ZWFzZX0gLWx0ICIxNCIgXV0KCQkJCQl0aGVuCgkJCQkJCVVwZGF0ZU9TS2V4dFNpZ0V4
	Y2VwdGlvbkxpc3QgIiR7V29ya0RpcjF9IgoJCQkJZmkKCQkJCVN5c3RlbUNhY2hlVXBk
	YXRlCiAJCQkJZWNobwogCQkJCXNhdmVFeGl0CiAJCQkJZW5kUHJvZ3JhbQogCQkJCTs7
	CiAJCiAJCQkqKQogICAgICAgICAgICAgCSMgaWYgZmlsZSBpcyBkaXJlY3RvcnkgdGhl
	biBwYWNrIGl0CiAgICAgICAgICAgICAJaWYgWyAtZCAiJEZ1bGxEcm9wTmFtZSIgXQog
	ICAgICAgICAgICAgICAgICAgICB0aGVuCiAJCQkJICAgICAgICBtZW1vTVNHCiAJCQkJ
	ICAgICAgICBTeXN0ZW1TcGVjTVNHCiAJCQkJCQlTdGFydE1TRwogCQkJCSAgICAgICAg
	cGFja01rZXh0ICIke0Z1bGxEcm9wTmFtZX0iCiAJCQkJICAgICAgICBzYXZlRXhpdAog
	CQkJCSAgICAgICAgZW5kUHJvZ3JhbQogCQkJCSAgICBlbHNlCiAgICAgICAgIAkJCQlt
	ZW1vTVNHCiAgICAgICAgIAkJCQl1c2FnZQogICAgICAgICAJCQkJZXhpdAogICAgICAg
	ICAgICAgICAgIGZpCiAgICAgICAgICAgICAgICAgOzsKIAkJZXNhYwoKZmkKCiNlY2hv
	ICJTdGFnZSBJZiBQcm9jZWVkaW5ncyIKCm1lbW9NU0cKU3lzdGVtU3BlY01TRwpTdGFy
	dE1TRwoKbWFpbgoKc2F2ZUV4aXQKZW5kUHJvZ3JhbQpfEA9OU0tleWVkQXJjaGl2ZXLR
	CwxUcm9vdIABAAgAEQAaACMALQAyADcAOgBAhDWER4RKhE8AAAAAAAACAQAAAAAAAAAN
	AAAAAAAAAAAAAAAAAACEUQ==
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
