<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>72</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>CodecID</key>
			<array>
				<integer>283902616</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>Mic</string>
			</array>
			<key>IntSpeaker</key>
			<dict>
				<key>MaximumBootBeepValue</key>
				<integer>64</integer>
			</dict>
			<key>Mic</key>
			<dict>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>4</key>
								<integer>-1077065615</integer>
								<key>2</key>
								<integer>1</integer>
								<key>5</key>
								<data>yNZvwgoFX8Ls6nXCAzWDwkjGiMINZovC/DyOwt2AkcIuWZbCdE2Zwp6WmsLGFJzC//ecwhbynsJCAaDCUh+gwkDOn8KHNJ/Ccr2ewrcdn8J7Z6DCH52hwgNNosKd0qHCt3GiwlIFo8L3U6PCouWjwg0BpMJTaKPCOA6lwiXCpcJM0KXCDI2lwpuoo8LWFqLChF2lwu7KpsJeI6fCoNWmwno0o8IxW6LCvmqmwjlop8LPT6fCVnCnwtHopsKKmqbCrh+nwrJJp8L6gqfCCO2nwgGwp8JzIqjCQiapwhMrqcLwGqnCkKmowkuXqMLbjKnCePWpwo5NqsJUparCCsGqwpU/q8LguavC07mrwnf2q8I0I6zCus+rwkLmq8LGj6zCTfGswr4hrcJCM63Cqu+swtdXrcJWBa7CFFKuwpqfrsIyqK7CwbGtwsc5rsIOlq/CnLavwirRr8JUcq/CDMWuwh2dr8ICLLDCdjqwwiOJsMKrPLDCrFivwg1psMIFXbHCnICxwkyfscLmkrDCxWiwwuwRssJbdrLCCB+zwnZxs8J7VLLCjLCywlIOtcJQE7bC7Ja2wnF1t8Jcx7fCxTG5wp6fu8JZtr3CTta/worrwcL8r8PC1iTHwra1y8J42c/CHuXTwgzo2MIOlN3C7FfkwjHe7MKYrvXCUpT+wi2pAsOIWQrD</data>
								<key>1</key>
								<integer>0</integer>
								<key>3</key>
								<integer>0</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
						<key>DspFunction1</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncName</key>
								<string>DspEqualization32</string>
								<key>DspFuncInstance</key>
								<integer>1</integer>
								<key>DspFuncProcessingIndex</key>
								<integer>1</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>9</key>
								<integer>0</integer>
								<key>Filter</key>
								<array>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1118343948</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>1099519471</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>1</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1102303245</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>-1069504319</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>4</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1137218180</integer>
										<key>7</key>
										<integer>1083722718</integer>
										<key>8</key>
										<integer>-1073964333</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>5</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1142384544</integer>
										<key>7</key>
										<integer>1088272094</integer>
										<key>8</key>
										<integer>-1079304561</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>6</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1148752310</integer>
										<key>7</key>
										<integer>1085192269</integer>
										<key>8</key>
										<integer>-1085023055</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>7</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1154724236</integer>
										<key>7</key>
										<integer>1089470450</integer>
										<key>8</key>
										<integer>-1077168470</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>8</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1151621336</integer>
										<key>7</key>
										<integer>1091143198</integer>
										<key>8</key>
										<integer>-1077168470</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>9</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1167935555</integer>
										<key>7</key>
										<integer>1094205894</integer>
										<key>8</key>
										<integer>-1082886964</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>15</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1159599791</integer>
										<key>7</key>
										<integer>1091983880</integer>
										<key>8</key>
										<integer>-1080372607</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>21</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1178895888</integer>
										<key>7</key>
										<integer>1088568961</integer>
										<key>8</key>
										<integer>-1068512851</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>31</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>0</integer>
										<key>6</key>
										<integer>1182599193</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>0</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction2</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncName</key>
								<string>DspGainStage</string>
								<key>DspFuncInstance</key>
								<integer>2</integer>
								<key>DspFuncProcessingIndex</key>
								<integer>2</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1065353216</integer>
								<key>3</key>
								<integer>1065353216</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction3</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncName</key>
								<string>DspClientGainAdjustStage</string>
								<key>DspFuncInstance</key>
								<integer>3</integer>
								<key>DspFuncProcessingIndex</key>
								<integer>3</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>3</key>
								<integer>1077936128</integer>
								<key>1</key>
								<integer>1</integer>
								<key>4</key>
								<integer>1103626240</integer>
								<key>2</key>
								<integer>0</integer>
								<key>5</key>
								<integer>2</integer>
								<key>6</key>
								<integer>1082130432</integer>
								<key>7</key>
								<integer>3</integer>
								<key>8</key>
								<integer>0</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>2</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>2</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>3266</integer>
		</dict>
	</array>
</dict>
</plist>
